{"openapi":"3.1.0","info":{"title":"Manage Users","description":"Manage Users Facility","contact":{"name":"HMPPS Digital Studio","email":"feedback@digital.justice.gov.uk"},"version":"2026-01-27.112.c6fbab0"},"servers":[{"url":"https://manage-users-api.hmpps.service.justice.gov.uk","description":"Prod"},{"url":"https://manage-users-api-preprod.hmpps.service.justice.gov.uk","description":"PreProd"},{"url":"https://manage-users-api-dev.hmpps.service.justice.gov.uk","description":"Development"},{"url":"http://localhost:8080","description":"Local"}],"paths":{"/roles/{roleCode}":{"put":{"tags":["roles-controller"],"summary":"Amend role name","description":"Amend the role name, role required is ROLE_ROLES_ADMIN","operationId":"amendRoleName","parameters":[{"name":"roleCode","in":"path","description":"The Role code of the role.","required":true,"schema":{"type":"string","description":"The Role code of the role.","example":"AUTH_GROUP_MANAGER"},"example":"AUTH_GROUP_MANAGER"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleNameAmendmentDto"}}},"required":true},"responses":{"200":{"description":"Role name updated"},"404":{"description":"The role trying to update does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_ROLES_ADMIN":[]}]}},"/roles/{roleCode}/description":{"put":{"tags":["roles-controller"],"summary":"Amend role description","description":"Amend the role description, role required is ROLE_ROLES_ADMIN","operationId":"amendRoleDescription","parameters":[{"name":"roleCode","in":"path","description":"The Role code of the role.","required":true,"schema":{"type":"string","description":"The Role code of the role.","example":"AUTH_GROUP_MANAGER"},"example":"AUTH_GROUP_MANAGER"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleDescriptionAmendmentDto"}}},"required":true},"responses":{"200":{"description":"Role description updated"},"404":{"description":"The role trying to update does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_ROLES_ADMIN":[]}]}},"/roles/{roleCode}/admintype":{"put":{"tags":["roles-controller"],"summary":"Amend role admin type","description":"Amend the role admin type, role required is ROLE_ROLES_ADMIN","operationId":"amendRoleAdminType","parameters":[{"name":"roleCode","in":"path","description":"The Role code of the role.","required":true,"schema":{"type":"string","description":"The Role code of the role.","example":"AUTH_GROUP_MANAGER"},"example":"AUTH_GROUP_MANAGER"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleAdminTypeAmendmentDto"}}},"required":true},"responses":{"200":{"description":"Role admin type updated"},"404":{"description":"The role trying to update does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_ROLES_ADMIN":[]}]}},"/prisonusers/{username}/enable-user":{"put":{"tags":["user-controller"],"summary":"Unlock user account","description":"Unlocks the user account. Requires role ROLE_MANAGE_NOMIS_USER_ACCOUNT","operationId":"enableUser","parameters":[{"name":"username","in":"path","description":"Username","required":true,"schema":{"type":"string","description":"Username","example":"testuser1","maxLength":30,"minLength":1},"example":"testuser1"}],"responses":{"200":{"description":"User account unlocked"},"400":{"description":"Incorrect request to unlock user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to unlock a user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MANAGE_NOMIS_USER_ACCOUNT":[]}]}},"/prisonusers/{username}/disable-user":{"put":{"tags":["user-controller"],"summary":"Lock user account","description":"Locks the user account. Requires role ROLE_MANAGE_NOMIS_USER_ACCOUNT","operationId":"disableUser","parameters":[{"name":"username","in":"path","description":"Username","required":true,"schema":{"type":"string","description":"Username","example":"testuser1","maxLength":30,"minLength":1},"example":"testuser1"}],"responses":{"200":{"description":"User account locked"},"400":{"description":"Incorrect request to lock user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to lock a user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MANAGE_NOMIS_USER_ACCOUNT":[]}]}},"/groups/{group}":{"get":{"tags":["groups-controller"],"summary":"Group detail.","description":"return Group Details","operationId":"getGroupDetail","parameters":[{"name":"group","in":"path","description":"The group code of the group.","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Group not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupDetailsDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]}]},"put":{"tags":["groups-controller"],"summary":"Amend group name.","description":"Amend group name.<br/>Requires role ROLE_MAINTAIN_OAUTH_USERS","operationId":"amendGroupName","parameters":[{"name":"group","in":"path","description":"The group code of the group.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupAmendmentDto"}}},"required":true},"responses":{"404":{"description":"Group not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]}]},"delete":{"tags":["groups-controller"],"summary":"Delete group.","description":"Delete a Group.<br.>Requires role ROLE_MAINTAIN_OAUTH_USERS","operationId":"deleteGroup","parameters":[{"name":"group","in":"path","description":"The group code of the group.","required":true,"schema":{"type":"string","description":"The group code of the group."}}],"responses":{"404":{"description":"Group not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]}]}},"/groups/child/{group}":{"get":{"tags":["groups-controller"],"summary":"Child Group detail.","description":"Fetches child group details.<br/>Requires role ROLE_MAINTAIN_OAUTH_USERS","operationId":"getChildGroupDetail","parameters":[{"name":"group","in":"path","description":"The group code of the child group.","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Child Group not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChildGroupDetailsDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]}]},"put":{"tags":["groups-controller"],"summary":"Amend child group name.","description":"Amend a Child Group Name.<br/>Requires role ROLE_MAINTAIN_OAUTH_USERS","operationId":"amendChildGroupName","parameters":[{"name":"group","in":"path","description":"The group code of the child group.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupAmendmentDto"}}},"required":true},"responses":{"404":{"description":"Child Group not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]}]},"delete":{"tags":["groups-controller"],"summary":"Delete child group.","description":"Delete a child group.<br/>Requires role ROLE_MAINTAIN_OAUTH_USERS","operationId":"deleteChildGroup","parameters":[{"name":"group","in":"path","description":"The group code of the child group.","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Child Group not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]}]}},"/externalusers/{userId}/roles/{role}":{"put":{"tags":["user-roles-controller"],"summary":"Add role to user.","description":"Add role to user. Requires role ROLE_MAINTAIN_OAUTH_USERS, ROLE_AUTH_GROUP_MANAGER or ROLE_MAINTAIN_IMS_USERS","operationId":"addRoleByUserId","parameters":[{"name":"userId","in":"path","description":"The userId of the user.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"role","in":"path","description":"The role to be added to the user.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Added."},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Role for user already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]},{"ROLE_MAINTAIN_IMS_USERS":[]}]},"delete":{"tags":["user-roles-controller"],"summary":"Remove role from user.","description":"Remove role from user.<br/>Requires role ROLE_MAINTAIN_OAUTH_USERS , ROLE_AUTH_GROUP_MANAGER or ROLE_MAINTAIN_IMS_USERS","operationId":"removeRoleByUserId","parameters":[{"name":"userId","in":"path","description":"The userId of the user.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"role","in":"path","description":"The role code of the role to be deleted from the user.","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"204":{"description":"Deleted","content":{"application/json":{}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]},{"ROLE_MAINTAIN_IMS_USERS":[]}]}},"/externalusers/{userId}/groups/{group}":{"put":{"tags":["user-group-controller"],"summary":"Add group to user.","description":"Add group to user. Requires role ROLE_MAINTAIN_OAUTH_USERS or ROLE_AUTH_GROUP_MANAGER","operationId":"addGroupByUserId","parameters":[{"name":"userId","in":"path","description":"The userId of the user.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"group","in":"path","description":"The group code of the group to be added to the user.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Added"},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Group for user already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]}]},"delete":{"tags":["user-group-controller"],"summary":"Remove group from user.","description":"Remove group from user. Requires role ROLE_MAINTAIN_OAUTH_USERS or ROLE_AUTH_GROUP_MANAGER","operationId":"removeGroupByUserId","parameters":[{"name":"userId","in":"path","description":"The userId of the user.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"group","in":"path","description":"The group code of the group to be deleted from the user.","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"204":{"description":"Deleted","content":{"application/json":{}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]}]}},"/externalusers/{userId}/enable":{"put":{"tags":["user-controller"],"summary":"Enable a user.","description":"Enable a user. Requires role ROLE_MAINTAIN_OAUTH_USERS or ROLE_AUTH_GROUP_MANAGER","operationId":"enableUserByUserId","parameters":[{"name":"userId","in":"path","description":"The userId of the user.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"OK."},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]}]}},"/externalusers/{userId}/disable":{"put":{"tags":["user-controller"],"summary":"Disable a user.","description":"Disable a user. Requires role ROLE_MAINTAIN_OAUTH_USERS or ROLE_AUTH_GROUP_MANAGER","operationId":"disableUserByUserId","parameters":[{"name":"userId","in":"path","description":"The userId of the user.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeactivateReason"}}},"required":true},"responses":{"204":{"description":"OK."},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]}]}},"/users/allowlist":{"get":{"tags":["user-allowlist-controller"],"summary":"Get all allow list users.","description":"Get all allow list users, optionally filtering on name and status","operationId":"getAllAllowlistUsers","parameters":[{"name":"name","in":"query","description":"username, email, first name or last name filter","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"Expired or Active filter","required":false,"schema":{"type":"string","default":"ALL","enum":["ACTIVE","EXPIRED","ALL"]}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"404":{"description":"The allow list user does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagedResponseUserAllowlistDetail"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["user-allowlist-controller"],"summary":"Add a user to the allow list.","description":"Add a user to the allow list","operationId":"addUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserAllowlistAddRequest"}}},"required":true},"responses":{"201":{"description":"Created"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/roles":{"get":{"tags":["roles-controller"],"summary":"Get all roles","description":"Get all roles, role required is ROLE_ROLES_ADMIN (to find external roles), ROLE_MAINTAIN_ACCESS_ROLES_ADMIN or ROLE_MAINTAIN_ACCESS_ROLES","operationId":"getRoles","parameters":[{"name":"adminTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DPS_LSA","DPS_ADM","EXT_ADM","IMS_HIDDEN"]}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoleDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_ROLES_ADMIN":[]},{"ROLE_MAINTAIN_ACCESS_ROLES_ADMIN":[]},{"ROLE_MAINTAIN_ACCESS_ROLES":[]},{"ROLE_VIEW_ADMINISTRABLE_USER_ROLES":[]}]},"post":{"tags":["roles-controller"],"summary":"Create role","description":"Create a new role, role required is ROLE_ROLES_ADMIN","operationId":"createRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRoleDto"}}},"required":true},"responses":{"201":{"description":"Role Created","content":{"application/json":{}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_ROLES_ADMIN":[]}]}},"/prisonusers":{"get":{"tags":["user-controller"],"summary":"Find prison users by first and last name.","description":"Find prison users by first and last name. Requires role ROLE_USE_OF_FORCE or ROLE_STAFF_SEARCH","operationId":"findUsersByFirstAndLastName","parameters":[{"name":"firstName","in":"query","description":"The first name to match. Case insensitive.","required":true,"schema":{"type":"string","minLength":1}},{"name":"lastName","in":"query","description":"The last name to match. Case insensitive","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PrisonUserDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_USE_OF_FORCE":[]},{"ROLE_STAFF_SEARCH":[]}]},"post":{"tags":["user-controller"],"summary":"Create a DPS user","description":"Creates a specific DPS user. Requires role ROLE_CREATE_USER","operationId":"createUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserRequest"}}},"required":true},"responses":{"200":{"description":"Create a DPS user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewPrisonUserDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewPrisonUserDto"}}}}},"security":[{"ROLE_CREATE_USER":[]}]}},"/prisonusers/{username}/roles":{"get":{"tags":["user-roles-controller"],"summary":"Get list of roles associated with the users account","description":"Roles for a specific user. Requires role ROLE_MAINTAIN_ACCESS_ROLES_ADMIN or ROLE_MAINTAIN_ACCESS_ROLES","operationId":"getUserRoles","parameters":[{"name":"username","in":"path","description":"Username","required":true,"schema":{"type":"string","description":"Username","example":"TEST_USER1","maxLength":30,"minLength":1},"example":"TEST_USER1"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRoleDetail"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MAINTAIN_ACCESS_ROLES":[]},{"MAINTAIN_ACCESS_ROLES_ADMIN":[]}]},"post":{"tags":["user-roles-controller"],"summary":"Add a role to the specified user account, all roles will be added to DPS caseload unless specified","description":"Adds a role to a user, user must have caseload (if specified). Default caseload is DPS caseload (NWEB).  Cannot add an existing role to the same user. Requires role ROLE_MAINTAIN_ACCESS_ROLES_ADMIN or ROLE_MAINTAIN_ACCESS_ROLES","operationId":"addRoles","parameters":[{"name":"username","in":"path","description":"Username of the account to add roles","required":true,"schema":{"type":"string","description":"Username of the account to add roles","example":"TEST_USER2","maxLength":30,"minLength":1},"example":"TEST_USER2"},{"name":"caseloadId","in":"query","description":"Caseload Id","required":false,"schema":{"type":"string","default":"NWEB","description":"Caseload Id","example":"NWEB","maxLength":6,"minLength":3},"example":"NWEB"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Role Codes","items":{"type":"string","description":"Role Codes"}}}},"required":true},"responses":{"201":{"description":"User information with role details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRoleDetail"}}}},"400":{"description":"Incorrect request to add a role to a user account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to add a role to this account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MAINTAIN_ACCESS_ROLES":[]},{"MAINTAIN_ACCESS_ROLES_ADMIN":[]}]}},"/prisonusers/{username}/email":{"post":{"tags":["user-controller"],"summary":"Amend a prison user email address.","description":"Amend a prison user email address. Requires role MAINTAIN_ACCESS_ROLES_ADMIN","operationId":"amendUserEmail","parameters":[{"name":"username","in":"path","description":"The username of the user.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmendEmail"}}},"required":true},"responses":{"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MAINTAIN_ACCESS_ROLES_ADMIN":[]}]}},"/prisonusers/{username}/email/sync":{"post":{"tags":["sync-controller"],"summary":"Sync Nomis user email back into Auth","description":"Run process to check for differences in email address between Auth and NOMIS and updates Auth if required.<br/> Requires role ROLE_MAINTAIN_ACCESS_ROLES or ROLE_MAINTAIN_ACCESS_ROLES_ADMIN","operationId":"syncUserEmail","parameters":[{"name":"username","in":"path","description":"The username of the user.","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MAINTAIN_ACCESS_ROLES":[]},{"MAINTAIN_ACCESS_ROLES_ADMIN":[]}]}},"/prisonusers/{username}/caseloads":{"get":{"tags":["user-caseloads-controller"],"summary":"Get list of caseloads associated with the users account","description":"Caseloads for a specific user. Requires role ROLE_USER_PERMISSIONS__RO or ROLE_MAINTAIN_ACCESS_ROLES_ADMIN or ROLE_MAINTAIN_ACCESS_ROLES","operationId":"getUserCaseloads","parameters":[{"name":"username","in":"path","description":"Username","required":true,"schema":{"type":"string","description":"Username","example":"TEST_USER1","maxLength":30,"minLength":1},"example":"TEST_USER1"}],"responses":{"200":{"description":"User caseload list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCaseloadDetail"}}}},"400":{"description":"Incorrect request to get caseloads for a user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get a caseload for a user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"USER_PERMISSIONS__RO":[]},{"MAINTAIN_ACCESS_ROLES":[]},{"MAINTAIN_ACCESS_ROLES_ADMIN":[]}]},"post":{"tags":["user-caseloads-controller"],"summary":"Add multiple caseloads to the specified user account","description":"Adds caseloads to a user, caseloads must exist. Cannot add an existing caseload to the same user. Requires role ROLE_MAINTAIN_ACCESS_ROLES_ADMIN","operationId":"addCaseloads","parameters":[{"name":"username","in":"path","description":"Username of the account to add caseloads","required":true,"schema":{"type":"string","description":"Username of the account to add caseloads","example":"TEST_USER2","maxLength":30,"minLength":1},"example":"TEST_USER2"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"201":{"description":"User information with caseload details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCaseloadDetail"}}}},"400":{"description":"Incorrect request to add caseloads to a user account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to add caseloads to account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MAINTAIN_ACCESS_ROLES_ADMIN":[]}]}},"/prisonusers/find-by-usernames":{"post":{"tags":["user-controller"],"summary":"Get specified user details","description":"Information on specific users. Requires role ROLE_MAINTAIN_ACCESS_ROLES_ADMIN, ROLE_MAINTAIN_ACCESS_ROLES, ROLE_MANAGE_NOMIS_USER_ACCOUNT or ROLE_STAFF_SEARCH","operationId":"findUsersByUsernames","requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"The usernames of the users.","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/PrisonUserBasicDetails"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_ACCESS_ROLES_ADMIN":[]},{"ROLE_MAINTAIN_ACCESS_ROLES":[]},{"ROLE_MANAGE_NOMIS_USER_ACCOUNT":[]},{"ROLE_STAFF_SEARCH":[]}]}},"/linkedprisonusers/lsa":{"post":{"tags":["user-controller"],"summary":"Link a Local Admin User to an existing General Account","description":"Link a Local Admin User to an existing General Account. Requires role ROLE_CREATE_USER","operationId":"createLinkedLocalAdminUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLinkedLocalAdminUserRequest"}}},"required":true},"responses":{"201":{"description":"Local Admin User linked to an existing General Account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrisonStaffUserDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_CREATE_USER":[]}]}},"/linkedprisonusers/general":{"post":{"tags":["user-controller"],"summary":"Link a New General User to an existing Admin Account","description":"Link a New General User to an existing Admin Account. Requires role ROLE_CREATE_USER","operationId":"createLinkedGeneralUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLinkedGeneralUserRequest"}}},"required":true},"responses":{"201":{"description":"General User linked to an existing Admin Account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrisonStaffUserDto"}}}},"400":{"description":"Incorrect request to link a general user to an admin user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint, requires a valid OAuth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to link a general user to an existing admin user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_CREATE_USER":[]}]}},"/linkedprisonusers/admin":{"post":{"tags":["user-controller"],"summary":"Link an Admin User to an existing General Account","description":"Link an Admin User to an existing General Account. Requires role ROLE_CREATE_USER","operationId":"createLinkedCentralAdminUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLinkedCentralAdminUserRequest"}}},"required":true},"responses":{"201":{"description":"Admin User linked to an existing General Account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrisonStaffUserDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_CREATE_USER":[]}]}},"/groups":{"get":{"tags":["groups-controller"],"summary":"Get all groups","description":"Get all groups, role required is ROLE_MAINTAIN_OAUTH_USERS or ROLE_AUTH_GROUP_MANAGER","operationId":"getGroups","responses":{"200":{"description":"All Groups Returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserGroupDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS, ROLE_AUTH_GROUP_MANAGER":[]}]},"post":{"tags":["groups-controller"],"summary":"Create group.","description":"Create a group.<br/>Requires role ROLE_MAINTAIN_OAUTH_USERS","operationId":"createGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGroupDto"}}},"required":true},"responses":{"409":{"description":"Group already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]}]}},"/groups/child":{"post":{"tags":["groups-controller"],"summary":"Create child group.","description":"Create a Child Group.<br/>Requires role ROLE_MAINTAIN_OAUTH_USERS","operationId":"createChildGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateChildGroupDto"}}},"required":true},"responses":{"409":{"description":"Child Group already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]}]}},"/externalusers/{userId}/roles":{"get":{"tags":["user-roles-controller"],"summary":"Get list of roles associated with the users account","description":"Roles for a specific user.<br/>Requires role ROLE_MAINTAIN_OAUTH_USERS, ROLE_AUTH_GROUP_MANAGER or ROLE_MAINTAIN_IMS_USERS","operationId":"getUserRoles_1","parameters":[{"name":"userId","in":"path","description":"The userId of the user.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserRole"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MAINTAIN_OAUTH_USERS":[]},{"AUTH_GROUP_MANAGER":[]},{"ROLE_MAINTAIN_IMS_USERS":[]}]},"post":{"tags":["user-roles-controller"],"summary":"Add roles to user.","description":"Add role to user, post version taking multiple roles<br/>Requires role ROLE_MAINTAIN_OAUTH_USERS, ROLE_AUTH_GROUP_MANAGER or ROLE_MAINTAIN_IMS_USERS","operationId":"addRolesByUserId","parameters":[{"name":"userId","in":"path","description":"The user Id of the user.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"List of roles to be assigned.","items":{"type":"string"}}}},"required":true},"responses":{"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Role(s) for user already exists..","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Created"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"204":{"description":"No Content"}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]},{"ROLE_MAINTAIN_IMS_USERS":[]}]}},"/externalusers/{userId}/email":{"post":{"tags":["user-controller"],"summary":"Amend a user email address.","description":"Amend a user email address. Requires role ROLE_MAINTAIN_OAUTH_USERS or ROLE_AUTH_GROUP_MANAGER","operationId":"alterUserEmail","parameters":[{"name":"userId","in":"path","description":"The ID of the user.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmendUser"}}},"required":true},"responses":{"204":{"description":"OK.","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]}]}},"/externalusers/create":{"post":{"tags":["user-controller"],"summary":"Create user","description":"Create user. Requires role ROLE_MAINTAIN_OAUTH_USERS or ROLE_AUTH_GROUP_MANAGER","operationId":"createUserByEmail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewUser"}}},"required":true},"responses":{"409":{"description":"User or email already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]}]}},"/email-domains":{"get":{"tags":["email-domain-controller"],"summary":"Get all email domains","description":"Get all email domains, role required is ROLE_MAINTAIN_EMAIL_DOMAINS","operationId":"domainList","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EmailDomainDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_EMAIL_DOMAINS":[]}]},"post":{"tags":["email-domain-controller"],"summary":"Create email domain","description":"Create a new email domain, role required is ROLE_MAINTAIN_EMAIL_DOMAINS","operationId":"addEmailDomain","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEmailDomainDto"}}},"required":true},"responses":{"409":{"description":"Email domain already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmailDomainDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_EMAIL_DOMAINS":[]}]}},"/users/allowlist/{id}":{"patch":{"tags":["user-allowlist-controller"],"summary":"Update a user's access on the allow list.","description":"Update a user's access on the allow list","operationId":"updateUserAccess","parameters":[{"name":"id","in":"path","description":"The ID of the allow list user.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserAllowlistPatchRequest"}}},"required":true},"responses":{"404":{"description":"The allow list user does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/users/{username}":{"get":{"tags":["user-controller"],"summary":"User detail.","description":"Find user detail by username.","operationId":"findUser","parameters":[{"name":"username","in":"path","description":"The username of the user.","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDetailsDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/users/{username}/roles":{"get":{"tags":["user-controller"],"summary":"List of roles for user","description":"List of roles for user. Currently restricted to service specific roles: ROLE_USER_PERMISSIONS__RO or ROLE_INTEL_ADMIN or ROLE_PF_USER_ADMIN or ROLE_PCMS_USER_ADMIN.<br/><br/>**Change to old endpoint in Auth** <br/> 1)  Nomis / Prison user doesn't return additional role in the list:  PRISON <br/>                                         2)  Delius user doesn't return additional role in the list:  PROBATION","operationId":"userRoles","parameters":[{"name":"username","in":"path","description":"The username of the user.","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserRole"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_INTEL_ADMIN":[]},{"ROLE_PF_USER_ADMIN":[]},{"ROLE_PCMS_USER_ADMIN":[]},{"ROLE_USER_PERMISSIONS__RO":[]}]}},"/users/{username}/email":{"get":{"tags":["user-controller"],"summary":"Email address for user","description":"Verified email address for user","operationId":"getUserEmail","parameters":[{"name":"username","in":"path","description":"The username of the user.","required":true,"schema":{"type":"string"}},{"name":"unverified","in":"query","description":"Return unverified email addresses.","required":false,"schema":{"type":"boolean"}}],"responses":{"204":{"description":"The user's email address","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailAddressDto"}}}},"404":{"description":"User not found. The user doesn't exist so could have never logged in","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/users/search":{"get":{"tags":["user-search-controller"],"summary":"Search for users ","description":"\n      Search for users in the Auth DB only who match on partial first name, surname, username or email and return a pageable result set. \n      Optionally choose the authentication sources from any combination of auth, delius, nomis and azuread sources.\n      Provide the authSources as a list of values with the same name. e.g. ?authSources=nomis&authSources=delius&authSources=auth\n      It will return users with the requested auth sources where they have authenticated against the auth service at least once.\n      Note: User information held in the auth service may be out of date with the user information held in the source systems as\n      their details will be as they were the last time that they authenticated.<br/><br/>\n      \n       Requires role ROLE_INTEL_ADMIN or ROLE_PCMS_USER_ADMIN or ROLE_PF_USER_ADMIN\n    ","operationId":"searchForUsersInMultipleSourceSystems","parameters":[{"name":"name","in":"query","description":"The username, email or name of the user.","required":false,"schema":{"type":"string"},"example":"j smith"},{"name":"status","in":"query","description":"User status to find ACTIVE, INACTIVE or ALL. Defaults to ALL if omitted.","required":false,"schema":{"type":"string","enum":["ACTIVE","INACTIVE","ALL"]}},{"name":"authSources","in":"query","description":"List of auth sources to search [nomis|delius|auth|azuread]. Defaults to auth if omitted.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["auth","azuread","delius","nomis","none"]}}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedResponseAuthUserDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_INTEL_ADMIN":[]},{"ROLE_PF_USER_ADMIN":[]},{"ROLE_PCMS_USER_ADMIN":[]}]}},"/users/me":{"get":{"tags":["user-controller"],"summary":"My User details.","description":"Find my user details.","operationId":"myDetails","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/users/me/roles":{"get":{"tags":["user-controller"],"summary":"List of roles for current user.","description":"List of roles for current user.","operationId":"myRoles","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExternalUserRole"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/users/me/groups":{"get":{"tags":["user-controller"],"summary":"My Group details.","description":"Find my location/group details. This should be accessed with user token.","operationId":"myGroupDetails","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserGroupDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/users/me/email":{"get":{"tags":["user-controller"],"summary":"Email address for current user","description":"Verified email address for current user","operationId":"myEmail","parameters":[{"name":"unverified","in":"query","description":"Return unverified email addresses.","required":false,"schema":{"type":"boolean"}}],"responses":{"204":{"description":"No content.  No verified email address found for user","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/users/me/caseloads":{"get":{"tags":["user-controller"],"summary":"Get list of caseloads associated with the current user","description":"Caseloads for the current user","operationId":"getMyCaseloads","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserCaseloadDetail"}}}}}}},"/users/allowlist/{username}":{"get":{"tags":["user-allowlist-controller"],"summary":"Get a user on the allow list.","description":"Get a user on the allow list","operationId":"getAllowlistUser","parameters":[{"name":"username","in":"path","description":"The username of the allow list user.","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"The allow list user does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserAllowlistDetail"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/roles/{role}":{"get":{"tags":["roles-controller"],"summary":"Get role details","description":"Get role details, role required is ROLE_ROLES_ADMIN","operationId":"getRoleDetail","parameters":[{"name":"role","in":"path","description":"The Role code of the role.","required":true,"schema":{"type":"string","description":"The Role code of the role.","example":"AUTH_GROUP_MANAGER"},"example":"AUTH_GROUP_MANAGER"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_ROLES_ADMIN":[]},{"ROLE_VIEW_ADMINISTRABLE_USER_ROLES":[]}]}},"/roles/paged":{"get":{"tags":["roles-controller"],"summary":"Get all paged roles","description":"Get all paged roles, role required is ROLE_ROLES_ADMIN","operationId":"getPagedRoles","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sort","in":"query","required":false,"schema":{"type":"string","default":"roleName,asc"}},{"name":"roleName","in":"query","required":false,"schema":{"type":"string"}},{"name":"roleCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"adminTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DPS_LSA","DPS_ADM","EXT_ADM","IMS_HIDDEN"]}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedResponseRoleDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_ROLES_ADMIN":[]},{"ROLE_VIEW_ADMINISTRABLE_USER_ROLES":[]}]}},"/roles/delius":{"get":{"tags":["user-controller"],"summary":"List of mapped delius roles","description":"List of mapped  delius roles. Requires role ROLE_INTEL_ADMIN or ROLE_PCMS_USER_ADMIN or ROLE_PF_USER_ADMIN","operationId":"findMappedDeliusRoles","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_INTEL_ADMIN":[]},{"ROLE_PCMS_USER_ADMIN":[]},{"ROLE_PF_USER_ADMIN":[]}]}},"/prisonusers/{username}":{"get":{"tags":["user-controller"],"summary":"Get specified user details","description":"Information on a specific user. Requires role ROLE_MAINTAIN_ACCESS_ROLES_ADMIN, ROLE_MAINTAIN_ACCESS_ROLES, ROLE_MANAGE_NOMIS_USER_ACCOUNT or ROLE_STAFF_SEARCH","operationId":"findUserByUsername","parameters":[{"name":"username","in":"path","description":"The username of the user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewPrisonUserDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_ACCESS_ROLES_ADMIN":[]},{"ROLE_MAINTAIN_ACCESS_ROLES":[]},{"ROLE_MANAGE_NOMIS_USER_ACCOUNT":[]},{"ROLE_STAFF_SEARCH":[]}]}},"/prisonusers/{username}/details":{"get":{"tags":["user-controller"],"summary":"Get specified user details","description":"Information on a specific user. Requires role ROLE_MAINTAIN_ACCESS_ROLES_ADMIN or ROLE_MAINTAIN_ACCESS_ROLES or ROLE_MANAGE_NOMIS_USER_ACCOUNT","operationId":"getUserDetails","parameters":[{"name":"username","in":"path","description":"Username","required":true,"schema":{"type":"string","description":"Username","example":"testuser1"},"example":"testuser1"}],"responses":{"200":{"description":"User Information Returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrisonUserDetails"}}}},"400":{"description":"Incorrect request to get user information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get a user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MAINTAIN_ACCESS_ROLES_ADMIN":[]},{"MAINTAIN_ACCESS_ROLES":[]},{"ROLE_MANAGE_NOMIS_USER_ACCOUNT":[]}]}},"/prisonusers/search":{"get":{"tags":["user-search-controller"],"summary":"Get all users filtered as specified","description":"Requires role ROLE_MAINTAIN_ACCESS_ROLES_ADMIN, ROLE_MAINTAIN_ACCESS_ROLES or ROLE_STAFF_SEARCH. <br/>Get all users with filter.<br/> For local administrators this will implicitly filter users in the prisons they administer, therefore username is expected in the authorisation token. <br/>For users with role ROLE_MAINTAIN_ACCESS_ROLES_ADMIN this allows access to all staff.","operationId":"getUsers","parameters":[{"name":"pageRequest","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"name":"nameFilter","in":"query","description":"Filter results by name (first name and/or last name in any order), username or email address.","required":false,"schema":{"type":"string"},"example":"Raj"},{"name":"accessRoles","in":"query","description":"Filter will match users that have all DPS role specified","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":"ADD_SENSITIVE_CASE_NOTES"},{"name":"nomisRole","in":"query","description":"Filter will match users that have the NOMIS role specified, should be used with a caseloadId or will get duplicates","required":false,"schema":{"type":"string"},"example":201},{"name":"status","in":"query","description":"Limit to active / inactive / show all users","required":false,"schema":{"type":"string","default":"ALL","enum":["ALL","ACTIVE","INACTIVE"]},"example":"INACTIVE"},{"name":"activeCaseload","in":"query","description":"Filter results by user's currently active caseload i.e. the one they have currently selected","required":false,"schema":{"type":"string"},"example":"MDI"},{"name":"caseload","in":"query","description":"Filter results to include only those users that have access to the specified caseload (irrespective of whether it is currently active or not","required":false,"schema":{"type":"string"},"example":"MDI"},{"name":"inclusiveRoles","in":"query","description":"Returns result inclusive of selected roles","required":false,"schema":{"type":"boolean","default":false},"example":true},{"name":"showOnlyLSAs","in":"query","description":"Returns all active LSAs","required":false,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"200":{"description":"Pageable list of user summaries","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedResponsePrisonUserSearchSummary"}}}},"400":{"description":"Incorrect filter supplied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/prisonusers/reference-data/caseloads":{"get":{"tags":["reference-data-controller"],"summary":"Retrieves all caseloads","description":"Retrieves all the current active general caseloads, these are effectively prisons that staff can be associated with.","operationId":"getCaseload","responses":{"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/prisonusers/find-by-caseload-and-role":{"get":{"tags":["user-search-controller"],"summary":"Get all users filtered by active caseload and role","description":"Requires role USERS__PRISON_USERS__FIND_BY_CASELOAD_AND_ROLE__RO<br/>Get all users with active caseload and nomis role.<br/> This search does not limit by user token.","operationId":"getUsersByCaseloadAndRole","parameters":[{"name":"pageRequest","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"name":"activeCaseload","in":"query","description":"Filter results by user's currently active caseload i.e. the one they have currently selected","required":true,"schema":{"type":"string"},"example":"MDI"},{"name":"roleCode","in":"query","description":"Filter will match users that have the DPS role specified","required":true,"schema":{"type":"string"},"example":"ADD_SENSITIVE_CASE_NOTES"},{"name":"status","in":"query","description":"Limit to active / inactive / show all users","required":false,"schema":{"type":"string","default":"ALL","enum":["ALL","ACTIVE","INACTIVE"]},"example":"INACTIVE"},{"name":"activeCaseloadOnly","in":"query","description":"If 'activeCaseloadOnly' is provided and True search for users with the target caseloadId irrespective of whether it is currently active or not. The default behaviour is to search for users where the target caseloadId is currently active.","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"Pageable list of user summaries","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedResponsePrisonUserSearchSummary"}}}},"400":{"description":"Incorrect filter supplied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/prisonusers/download":{"get":{"tags":["user-search-controller"],"operationId":"downloadUsersByFilters","parameters":[{"name":"nameFilter","in":"query","description":"Filter results by name (first name and/or last name in any order), username or email address.","required":false,"schema":{"type":"string"},"example":"Raj"},{"name":"accessRoles","in":"query","description":"Filter will match users that have all DPS role specified","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":"ADD_SENSITIVE_CASE_NOTES"},{"name":"nomisRole","in":"query","description":"Filter will match users that have the NOMIS role specified, should be used with a caseloadId or will get duplicates","required":false,"schema":{"type":"string"},"example":201},{"name":"status","in":"query","description":"Limit to active / inactive / show all users","required":false,"schema":{"type":"string","default":"ALL","enum":["ALL","ACTIVE","INACTIVE"]},"example":"INACTIVE"},{"name":"activeCaseload","in":"query","description":"Filter results by user's currently active caseload i.e. the one they have currently selected","required":false,"schema":{"type":"string"},"example":"MDI"},{"name":"caseload","in":"query","description":"Filter results to include only those users that have access to the specified caseload (irrespective of whether it is currently active or not","required":false,"schema":{"type":"string"},"example":"MDI"},{"name":"inclusiveRoles","in":"query","description":"Returns result inclusive of selected roles","required":false,"schema":{"type":"boolean"},"example":true},{"name":"showOnlyLSAs","in":"query","description":"Returns all active LSAs","required":false,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PrisonUserDownloadSummary"}}}}}}}},"/prisonusers/download/admins":{"get":{"tags":["user-search-controller"],"operationId":"downloadPrisonAdminsByFilter","parameters":[{"name":"nameFilter","in":"query","description":"Filter results by name (first name and/or last name in any order), username or email address.","required":false,"schema":{"type":"string"},"example":"Raj"},{"name":"accessRoles","in":"query","description":"Filter will match users that have all DPS role specified","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":"ADD_SENSITIVE_CASE_NOTES"},{"name":"nomisRole","in":"query","description":"Filter will match users that have the NOMIS role specified, should be used with a caseloadId or will get duplicates","required":false,"schema":{"type":"string"},"example":201},{"name":"status","in":"query","description":"Limit to active / inactive / show all users","required":false,"schema":{"type":"string","default":"ALL","enum":["ALL","ACTIVE","INACTIVE"]},"example":"INACTIVE"},{"name":"activeCaseload","in":"query","description":"Filter results by user's currently active caseload i.e. the one they have currently selected","required":false,"schema":{"type":"string"},"example":"MDI"},{"name":"caseload","in":"query","description":"Filter results to include only those users that have access to the specified caseload (irrespective of whether it is currently active or not","required":false,"schema":{"type":"string"},"example":"MDI"},{"name":"inclusiveRoles","in":"query","description":"Returns result inclusive of selected roles","required":false,"schema":{"type":"boolean"},"example":true},{"name":"showOnlyLSAs","in":"query","description":"Returns all active LSAs","required":false,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PrisonAdminUserSummary"}}}}}}}},"/notification/banner/{page}":{"get":{"tags":["notification-banner-controller"],"summary":"Gets Notification message","description":"Message string to be displayed in the notification banner.","operationId":"getNotificationBannerMessage","parameters":[{"name":"page","in":"path","description":"The notification page","required":true,"schema":{"type":"string","description":"The notification page","enum":["ROLES","EMPTY","DPSMENU"],"example":"roles"},"example":"roles"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/groups/subset/crs":{"get":{"tags":["groups-controller"],"summary":"Get the subset of groups that are CRS groups.","description":"Get all CRS groups. Requires role ROLE_CONTRACT_MANAGER_VIEW_GROUP","operationId":"getCRSGroups","responses":{"200":{"description":"All CRS Groups Returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserGroupDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_CONTRACT_MANAGER_VIEW_GROUP":[]}]}},"/externalusers":{"get":{"tags":["user-search-controller"],"summary":"Search for a user.","description":"Search for a user.","operationId":"searchForUser","parameters":[{"name":"email","in":"query","description":"The email address of the user.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No users found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/externalusers/{username}":{"get":{"tags":["user-search-controller"],"summary":"User detail.","description":"User detail.","operationId":"user","parameters":[{"name":"username","in":"path","description":"The username of the user.","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExternalUser"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/externalusers/{userId}/groups":{"get":{"tags":["user-group-controller"],"summary":"Get groups for userId.","description":"Get groups for userId. Requires role ROLE_MAINTAIN_OAUTH_USERS or ROLE_AUTH_GROUP_MANAGER or ROLE_VIEW_USER_GROUPS","operationId":"getGroups_1","parameters":[{"name":"userId","in":"path","description":"The userId of the user.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"children","in":"query","description":"Whether groups are expanded into their children.","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserGroupDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]},{"ROLE_VIEW_USER_GROUPS":[]}]}},"/externalusers/{userId}/assignable-roles":{"get":{"tags":["user-roles-controller"],"summary":"Get list of roles associated with the users account","description":"Roles for a specific user. Requires role ROLE_MAINTAIN_OAUTH_USERS, ROLE_AUTH_GROUP_MANAGER, ROLE_MAINTAIN_IMS_USERS","operationId":"getAssignableRoles","parameters":[{"name":"userId","in":"path","description":"The userId of the user.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserRole"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]},{"ROLE_MAINTAIN_IMS_USERS":[]}]}},"/externalusers/search":{"get":{"tags":["user-search-controller"],"summary":"Search for an external user.","operationId":"searchForUser_1","parameters":[{"name":"name","in":"query","description":"The username, email or name of the user.","required":false,"schema":{"type":"string"},"example":"j smith"},{"name":"roles","in":"query","description":"The role codes of the user.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"groups","in":"query","description":"The group codes of the user.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"status","in":"query","description":"Limit to active / inactive / show all users.","required":false,"schema":{"type":"string","default":"ALL","enum":["ACTIVE","INACTIVE","ALL"]}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedResponseExternalUserDetailsDto"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/externalusers/me/searchable-roles":{"get":{"tags":["user-roles-controller"],"summary":"Get list of searchable roles.","description":"Get list of roles that can be search for by the current user.","operationId":"searchableRoles","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserRole"}}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/externalusers/me/assignable-groups":{"get":{"tags":["user-controller"],"summary":"Get list of assignable groups.","description":"Get list of groups that can be assigned by the current user.","operationId":"assignableGroups","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserGroup"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/externalusers/id/{userId}":{"get":{"tags":["user-search-controller"],"summary":"Retrieve user details by user id.","description":"Retrieve detail by user id. Note that when accessing with Group Manager role the accessor must have a group in common with the user.<br/>Requires role ROLE_MAINTAIN_OAUTH_USERS or ROLE_AUTH_GROUP_MANAGER","operationId":"userById","parameters":[{"name":"userId","in":"path","description":"The id of the user.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExternalUserDetailsDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]}]}},"/externalusers/crsgroup/{crsgroupcode}":{"get":{"tags":["user-search-controller"],"summary":"Find members of a CRS Group.","description":"Returns a list of members of a CRS Group. Requires role ROLE_CONTRACT_MANAGER_VIEW_GROUP","operationId":"searchForCrsGroupMembers","parameters":[{"name":"crsgroupcode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExternalUserDetailsDto"}}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/email-domains/{id}":{"get":{"tags":["email-domain-controller"],"summary":"Get email domain details","description":"Get email domain details, role required is ROLE_MAINTAIN_EMAIL_DOMAINS","operationId":"domain","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"404":{"description":"Email domain not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmailDomainDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_EMAIL_DOMAINS":[]}]},"delete":{"tags":["email-domain-controller"],"summary":"Delete email domain details","description":"Delete email domain details, role required is ROLE_MAINTAIN_EMAIL_DOMAINS","operationId":"deleteEmailDomain","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Email domain details deleted"},"404":{"description":"Email domain not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_EMAIL_DOMAINS":[]}]}},"/prisonusers/{username}/roles/{roleCode}":{"delete":{"tags":["user-roles-controller"],"summary":"Remove a role from a user","description":"The user must already have the role to be removed. Default role caseload is a DPS role unless specified. Requires role ROLE_MAINTAIN_ACCESS_ROLES_ADMIN or ROLE_MAINTAIN_ACCESS_ROLES","operationId":"removeRoleFromUser","parameters":[{"name":"username","in":"path","description":"Username of the account to remove role","required":true,"schema":{"type":"string","description":"Username of the account to remove role","example":"TEST_USER2","maxLength":30,"minLength":1},"example":"TEST_USER2"},{"name":"roleCode","in":"path","description":"Role Code","required":true,"schema":{"type":"string","description":"Role Code","example":"GLOBAL_SEARCH","maxLength":30,"minLength":1},"example":"GLOBAL_SEARCH"},{"name":"caseloadId","in":"query","description":"Caseload Id","required":false,"schema":{"type":"string","default":"NWEB","description":"Caseload Id","example":"NWEB","maxLength":6,"minLength":3},"example":"NWEB"}],"responses":{"200":{"description":"User information with role details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRoleDetail"}}}},"400":{"description":"Incorrect request to remove a role from a user account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to remove a role this user account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MAINTAIN_ACCESS_ROLES":[]},{"MAINTAIN_ACCESS_ROLES_ADMIN":[]}]}},"/prisonusers/{username}/caseloads/{caseloadId}":{"delete":{"tags":["user-caseloads-controller"],"summary":"Remove a caseload from a user","description":"The user must already have the caseload to be removed. Requires role ROLE_MAINTAIN_ACCESS_ROLES_ADMIN","operationId":"removeCaseload","parameters":[{"name":"username","in":"path","description":"Username to remove caseload from","required":true,"schema":{"type":"string","description":"Username to remove caseload from","example":"TEST_USER2","maxLength":30,"minLength":1},"example":"TEST_USER2"},{"name":"caseloadId","in":"path","description":"Caseload ID to remove from this user","required":true,"schema":{"type":"string","description":"Caseload ID to remove from this user","example":"LEI","maxLength":6,"minLength":3},"example":"LEI"}],"responses":{"200":{"description":"User information with caseload details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCaseloadDetail"}}}},"400":{"description":"Incorrect request to remove a caseload from a user account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to remove a caseload this user account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MAINTAIN_ACCESS_ROLES_ADMIN":[]}]}}},"components":{"schemas":{"RoleNameAmendmentDto":{"type":"object","description":"Update Role Name","properties":{"roleName":{"type":"string","description":"Role Name","example":"Auth Group Manager","maxLength":100,"minLength":4,"pattern":"^[0-9A-Za-z- ,.()'&]*$"}},"required":["roleName"]},"ErrorResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"errorCode":{"type":"integer","format":"int32"},"userMessage":{"type":"string"},"developerMessage":{"type":"string"},"errors":{"type":"array","items":{"type":"string"}}},"required":["status"]},"RoleDescriptionAmendmentDto":{"type":"object","description":"Update Role Description","properties":{"roleDescription":{"type":"string","description":"Role Description","example":"Allow Group Manager to administer the account within their groups","maxLength":1024,"minLength":0,"pattern":"^[0-9A-Za-z- ,.()'&\r\n]*$"}},"required":["roleDescription"]},"RoleAdminTypeAmendmentDto":{"type":"object","description":"Update Role Administration Types","properties":{"adminType":{"type":"array","description":"Role Admin Type","example":["DPS_ADM"],"items":{"type":"string","enum":["DPS_LSA","DPS_ADM","EXT_ADM","IMS_HIDDEN"]},"minItems":1,"uniqueItems":true}},"required":["adminType"]},"GroupAmendmentDto":{"type":"object","description":"Details of the child group to be updated.","properties":{"groupName":{"type":"string","description":"Group Name","example":"HDC NPS North East","maxLength":100,"minLength":4}},"required":["groupName"]},"DeactivateReason":{"type":"object","description":"The reason user made inactive.","properties":{"reason":{"type":"string","description":"Deactivate Reason","example":"User has left","maxLength":100,"minLength":4}},"required":["reason"]},"UserAllowlistAddRequest":{"type":"object","description":"The add user request","properties":{"username":{"type":"string","description":"NOMIS, nDelius or auth username (can also be an email)","examples":["TD00012","eliseo.hassen@justice.gov.uk"]},"email":{"type":"string","description":"Email","example":"kellianne.granados@justice.gov.uk"},"firstName":{"type":"string","description":"First name","example":"Kellianne"},"lastName":{"type":"string","description":"Last name","example":"Granados"},"reason":{"type":"string","description":"A valid business reason for granting access to the environment","example":"Access is required to allow updating roles on clients as part of the support team"},"accessPeriod":{"type":"string","description":"The access period required, this can also be used to expire the access if needed","enum":["EXPIRE","ONE_MONTH","THREE_MONTHS","SIX_MONTHS","TWELVE_MONTHS","NO_RESTRICTION"]}},"required":["accessPeriod","email","firstName","lastName","reason","username"]},"CreateRoleDto":{"type":"object","description":"Details of the role to be created.","properties":{"roleCode":{"type":"string","description":"Role Code","example":"AUTH_GROUP_MANAGER","maxLength":30,"minLength":2,"pattern":"^[0-9A-Za-z_]*"},"roleName":{"type":"string","description":"roleName","example":"Auth Group Manager","maxLength":128,"minLength":4,"pattern":"^[0-9A-Za-z- ,.()'&]*$"},"roleDescription":{"type":"string","description":"roleDescription","example":"Allow Group Manager to administer the account within their groups","maxLength":1024,"minLength":0,"pattern":"^[0-9A-Za-z- ,.()'&\r\n]*$"},"adminType":{"type":"array","description":"adminType, can be used if multiple admin types required","example":["EXT_ADM","DPS_ADM"],"items":{"type":"string","enum":["DPS_LSA","DPS_ADM","EXT_ADM","IMS_HIDDEN"]},"minItems":1,"uniqueItems":true}},"required":["adminType","roleCode","roleName"]},"CreateUserRequest":{"type":"object","description":"DPS User creation","properties":{"username":{"type":"string","description":"Username","example":"TEST_USER","minLength":1},"email":{"type":"string","format":"email","description":"Email Address","example":"test@justice.gov.uk","minLength":1},"firstName":{"type":"string","description":"First name of the user","example":"John","minLength":1},"lastName":{"type":"string","description":"Last name of the user","example":"Smith","minLength":1},"userType":{"type":"string","description":"The type of user","enum":["DPS_ADM","DPS_GEN","DPS_LSA"],"example":"DPS_LSA","minLength":1},"defaultCaseloadId":{"type":"string","description":"Default caseload (a.k.a Prison ID)","example":"BXI"}},"required":["email","firstName","lastName","userType","username"]},"NewPrisonUserDto":{"type":"object","description":"Prison User Created Details","properties":{"username":{"type":"string","description":"Username","example":"TEST_USER"},"primaryEmail":{"type":"string","description":"Email Address","example":"test@justice.gov.uk"},"firstName":{"type":"string","description":"First name of the user","example":"John"},"lastName":{"type":"string","description":"Last name of the user","example":"Smith"}},"required":["firstName","lastName","username"]},"CaseloadRoleDetail":{"type":"object","description":"Roles in caseload information","properties":{"caseload":{"$ref":"#/components/schemas/PrisonCaseload","description":"Caseload for the listed roles"},"roles":{"type":"array","description":"NOMIS Roles assigned to this user","items":{"$ref":"#/components/schemas/RoleDetail"}}},"required":["caseload","roles"]},"PrisonCaseload":{"type":"object","properties":{"id":{"type":"string","description":"identify for caseload","example":"WWI"},"name":{"type":"string","description":"name of caseload, typically prison name","example":"WANDSWORTH (HMP)"},"function":{"type":"string","description":"function of caseload","example":"GENERAL"}},"required":["function","id","name"]},"RoleDetail":{"type":"object","description":"Role Information","properties":{"code":{"type":"string","description":"Role Code","example":"GLOBAL_SEARCH"},"name":{"type":"string","description":"Role Name","example":"Global Search Role"},"sequence":{"type":"integer","format":"int32","default":1,"description":"Role Sequence","example":1},"type":{"type":"string","default":"APP","description":"Role Type ","enum":["APP","INST","COMM","SHG"],"example":"APP"},"adminRoleOnly":{"type":"boolean","default":false,"description":"Admin only role","example":true},"parentRole":{"description":"Parent Role Code","example":"GLOBAL_SEARCH","required":["code","name"]}},"required":["code","name"]},"UserRoleDetail":{"type":"object","description":"User & Role Information","properties":{"username":{"type":"string","description":"Username","example":"TESTUSER1"},"active":{"type":"boolean","description":"Indicates that the user is active","example":true},"accountType":{"type":"string","description":"Type of user account","enum":["GENERAL","ADMIN"],"example":"GENERAL"},"activeCaseload":{"$ref":"#/components/schemas/PrisonCaseload","description":"Active Caseload of the user","example":"BXI"},"dpsRoles":{"type":"array","description":"DPS Roles assigned to this user","items":{"$ref":"#/components/schemas/RoleDetail"}},"nomisRoles":{"type":"array","description":"NOMIS Roles assigned to this user per caseload","items":{"$ref":"#/components/schemas/CaseloadRoleDetail"}}},"required":["accountType","active","dpsRoles","username"]},"AmendEmail":{"type":"object","properties":{"email":{"type":"string","description":"Email address","example":"prison.user@someagency.justice.gov.uk","minLength":1}},"required":["email"]},"UserCaseloadDetail":{"type":"object","description":"User & Caseload Information","properties":{"username":{"type":"string","description":"Username","example":"TESTUSER1"},"active":{"type":"boolean","description":"Indicates that the user is active","example":true},"accountType":{"type":"string","description":"Type of user account","enum":["GENERAL","ADMIN"],"example":"GENERAL"},"activeCaseload":{"$ref":"#/components/schemas/PrisonCaseload","description":"Active Caseload of the user","example":"BXI"},"caseloads":{"type":"array","description":"Caseloads available for this user","items":{"$ref":"#/components/schemas/PrisonCaseload"}}},"required":["accountType","active","caseloads","username"]},"PrisonUserBasicDetails":{"type":"object","properties":{"username":{"type":"string"},"firstName":{"type":"string"},"staffId":{"type":"integer","format":"int32"},"lastName":{"type":"string"},"activeCaseloadId":{"type":"string"},"enabled":{"type":"boolean"},"accountStatus":{"type":"string"},"primaryEmail":{"type":"string"},"userId":{"type":"integer","format":"int32"},"name":{"type":"string"},"authSource":{"type":"string","enum":["auth","azuread","delius","nomis","none"]}},"required":["authSource","enabled","firstName","lastName","name","staffId","userId","username"]},"CreateLinkedLocalAdminUserRequest":{"type":"object","description":"Linking a new Local admin account to an existing general user","properties":{"existingUsername":{"type":"string","description":"existingUsername","example":"TESTUSER1","maxLength":30,"minLength":1},"adminUsername":{"type":"string","description":"adminUsername","example":"TESTUSER1_ADM","maxLength":30,"minLength":1},"localAdminGroup":{"type":"string","description":"Default local admin group (prison) to manage users","example":"MDI","maxLength":6,"minLength":3}},"required":["adminUsername","existingUsername","localAdminGroup"]},"PrisonCaseloadDto":{"type":"object","properties":{"id":{"type":"string","description":"ID for the caseload","example":"WWI"},"name":{"type":"string","description":"name of caseload, typically prison name","example":"WANDSWORTH (HMP)"}},"required":["id","name"]},"PrisonStaffUserDto":{"type":"object","description":"Prison Staff Information","properties":{"staffId":{"type":"integer","format":"int64","description":"Staff ID","example":324323},"firstName":{"type":"string","description":"First name of the user","example":"John"},"lastName":{"type":"string","description":"Last name of the user","example":"Smith"},"status":{"type":"string","description":"Status of staff account","example":"ACTIVE"},"primaryEmail":{"type":"string","description":"Email addresses of staff","example":"test@test.com"},"generalAccount":{"$ref":"#/components/schemas/UserCaseloadDto","description":"General user account for this staff member"},"adminAccount":{"$ref":"#/components/schemas/UserCaseloadDto","description":"Admin user account for this staff member"}},"required":["firstName","lastName","staffId","status"]},"UserCaseloadDto":{"type":"object","description":"User & Caseload Information","properties":{"username":{"type":"string","description":"User name","example":"John1"},"active":{"type":"boolean","description":"Indicates that the user is active or not","example":true},"accountType":{"type":"string","description":"Type of user account","enum":["GENERAL","ADMIN"],"example":"GENERAL"},"activeCaseload":{"$ref":"#/components/schemas/PrisonCaseloadDto","description":"Active Caseload of the user","example":"BXI"},"caseloads":{"type":"array","description":"Caseloads available for this user","items":{"$ref":"#/components/schemas/PrisonCaseloadDto"}}},"required":["accountType","active","username"]},"CreateLinkedGeneralUserRequest":{"type":"object","description":"Linking a new General account to an existing admin user account","properties":{"existingAdminUsername":{"type":"string","description":"existing admin username","example":"TESTUSER1_ADM","maxLength":30,"minLength":1},"generalUsername":{"type":"string","description":"new general username","example":"TESTUSER1_GEN","maxLength":30,"minLength":1},"defaultCaseloadId":{"type":"string","description":"Default caseload (a.k.a Prison ID), not required for admin accounts","example":"BXI","maxLength":6,"minLength":3}},"required":["defaultCaseloadId","existingAdminUsername","generalUsername"]},"CreateLinkedCentralAdminUserRequest":{"type":"object","description":"Linking a new Central admin account to an existing general user","properties":{"existingUsername":{"type":"string","description":"existingUsername"
[...]
