{"openapi":"3.1.0","info":{"title":"NOMIS Mapping Service","description":"<div>\n<h2>Manages mapping information between DPS services and NOMIS</h2>\n<p>APIs tagged by <b>NOMIS to DPS Mapping lookup</b> are designed to be used by other DPS services that need to transition data held in that service that was originally sourced from NOMIS by now needs to sourced from other DPS services.</p>\n<p>Each domain requires their own role to access these APIs for instance <b>NOMIS_DPS_MAPPING__LOCATIONS__R</b> for location mapping lookups</p>\n<p>All other APIs should be considered private to the NOMIS Migration and Synchronisation suite of services.</p>\n<div>","contact":{"name":"HMPPS Digital Studio","email":"feedback@digital.justice.gov.uk"},"version":"2025-10-16.212.fb3a526"},"servers":[{"url":"https://nomis-sync-prisoner-mapping.hmpps.service.justice.gov.uk","description":"Prod"},{"url":"https://nomis-sync-prisoner-mapping-preprod.hmpps.service.justice.gov.uk","description":"PreProd"},{"url":"https://nomis-sync-prisoner-mapping-dev.hmpps.service.justice.gov.uk","description":"Development"},{"url":"http://localhost:8080","description":"Local"}],"security":[{"bearer-jwt":["read","write"]}],"tags":[{"name":"NOMIS / DPS Mapping lookup","description":"APIs designed to be used by DPS services that need to map NOMIS ids stored in a DPS service to a sibling DPS domain service"}],"paths":{"/mapping/transactions/merge/from/{oldOffenderNo}/to/{newOffenderNo}":{"put":{"tags":["transaction-mapping-resource"],"summary":"Replaces all occurrences of the 'from' id with the 'to' id in the mapping table","description":"Used for update after a prisoner number merge. Requires role ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"updateMappingsByNomisId","parameters":[{"name":"oldOffenderNo","in":"path","description":"Old prisoner number to replace","required":true,"schema":{"type":"string","description":"Old prisoner number to replace","example":"A3456KM"},"example":"A3456KM"},{"name":"newOffenderNo","in":"path","description":"New prisoner number to use","required":true,"schema":{"type":"string","description":"New prisoner number to use","example":"A3457LZ"},"example":"A3457LZ"}],"responses":{"200":{"description":"Replacement made, or not present in table","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/transactions/merge/booking-id/{bookingId}/to/{newOffenderNo}":{"put":{"tags":["transaction-mapping-resource"],"summary":"For all transactions with the given booking id in the mapping table, sets the offender no to the given 'to' id","description":"Used for update after a booking has been moved from one offender to another. Returns the affected transactions. Requires role ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"updateMappingsByBookingId","parameters":[{"name":"bookingId","in":"path","description":"The booking id","required":true,"schema":{"type":"integer","format":"int64","description":"The booking id","example":1234567},"example":1234567},{"name":"newOffenderNo","in":"path","description":"New prisoner number to use","required":true,"schema":{"type":"string","description":"New prisoner number to use","example":"A3457LZ"},"example":"A3457LZ"}],"responses":{"200":{"description":"Replacement made, or not present in table","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TransactionMappingDto"}}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/temporary-absence/migrate":{"put":{"tags":["temporary-absence-resource"],"summary":"Creates all mappings for prisoner temporary absences which are all migrated at the same time","description":"Creates mappings for prisoner temporary absences including movement applications, outside movements, scheduled movements and movements. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMappings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemporaryAbsencesPrisonerMappingDto"}}},"required":true},"responses":{"201":{"description":"Mappings created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/punishments":{"put":{"tags":["punishments-mapping-resource"],"summary":"Creates a new set of adjudication punishment mapping and deletes ones no longer required","description":"Creates a record of a DPS punishment id and NOMIS bookingId and sanction sequence. The ones that require deleting are removed NOMIS id. Requires NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"updatePunishmentBatchMappings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdjudicationPunishmentBatchUpdateMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping entries created","content":{}},"409":{"description":"One of the punishment mappings already exist","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["punishments-mapping-resource"],"summary":"Creates a new set of adjudication punishment mapping","description":"Creates a record of a DPS punishment id and NOMIS bookingId and sanction sequence. Requires NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createPunishmentBatchMappings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdjudicationPunishmentBatchMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping entries created","content":{}},"409":{"description":"One of the punishment mappings already exist","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/non-associations/update-list/from/{oldOffenderNo}/to/{newOffenderNo}":{"put":{"tags":["non-associations-mapping-resource"],"summary":"Updates mappings in list","description":"Updates mappings for a given list of non-association pairs. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"updateMappingsInList","parameters":[{"name":"oldOffenderNo","in":"path","description":"Old prisoner number to replace","required":true,"schema":{"type":"string","description":"Old prisoner number to replace","example":"A3456KM"},"example":"A3456KM"},{"name":"newOffenderNo","in":"path","description":"New prisoner number to use","required":true,"schema":{"type":"string","description":"New prisoner number to use","example":"A3457LZ"},"example":"A3457LZ"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"List of other prisoner numbers whose NA mappings with oldOffenderNo should have oldOffenderNo updated to newOffenderNo.","items":{"type":"string","description":"List of other prisoner numbers whose NA mappings with oldOffenderNo should have oldOffenderNo updated to newOffenderNo."}}}},"required":true},"responses":{"200":{"description":"Mappings updated","content":{}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/non-associations/merge/from/{oldOffenderNo}/to/{newOffenderNo}":{"put":{"tags":["non-associations-mapping-resource"],"summary":"Replaces all occurrences of the 'from' id with the 'to' id in the mapping table","description":"Used for update after a prisoner number merge. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"updateMappingsByNomisId_1","parameters":[{"name":"oldOffenderNo","in":"path","description":"Old prisoner number to replace","required":true,"schema":{"type":"string","description":"Old prisoner number to replace","example":"A3456KM"},"example":"A3456KM"},{"name":"newOffenderNo","in":"path","description":"New prisoner number to use","required":true,"schema":{"type":"string","description":"New prisoner number to use","example":"A3457LZ"},"example":"A3457LZ"}],"responses":{"200":{"description":"Replacement made, or not present in table","content":{}},"400":{"description":"Replacement would result in an NA with both prisoner numbers the same - requires manual intervention","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/court-sentencing/court-charges":{"put":{"tags":["court-sentencing-mapping-resource"],"summary":"Creates a new set of court charge mapping and deletes ones no longer required","description":"Creates a record of a DPS court charge id and NOMIS court charge id. The ones that require deleting are removed by NOMIS id. Requires NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"courtChargeBatchUpdateMappings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtChargeBatchUpdateMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping entries created","content":{}},"409":{"description":"One of the court charge mappings already exist","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["court-sentencing-mapping-resource"],"summary":"Creates a new single charge mapping","description":"Creates a mapping between nomis offender charge ID and DPS charge ID. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createCourtChargeMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtChargeMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtChargeMapping"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/court-sentencing/court-cases/update-create":{"put":{"tags":["court-sentencing-mapping-resource"],"summary":"Updates all court case hierarchical mappings maintaining the DPS id and creates additional mappings","description":"Updates all the mappings between nomis Court Case ID and DPS Court Case ID. Also maps child entities: Court appearances and charges. New ones that have been requested to be created will also be created. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"updateAndCreateMappingByNomisId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtCaseBatchUpdateAndCreateMappingDto"}}},"required":true},"responses":{"200":{"description":"Mapping created or replaced","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/court-sentencing/court-cases/replace":{"put":{"tags":["court-sentencing-mapping-resource"],"summary":"Replaces all court case hierarchical mappings maintaining the DPS id","description":"Replaces all the mappings between nomis Court Case ID and DPS Court Case ID. Also maps child entities: Court appearances and charges. Where a mapping does not exist for the DPS id it will create one. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"replaceOrCreateMappingByDpsId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtCaseBatchMappingDto"}}},"required":true},"responses":{"200":{"description":"Mapping created or replaced","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/contact-person/profile-details/migration":{"put":{"tags":["contact-person-profile-details-migration-resource"],"summary":"Creates or updates a contact person profile details migration mapping for a migration","description":"Creates updates a contact person profile details migration mapping for a migration between NOMIS ids and dps ids. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMappings_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactPersonProfileDetailsMigrationMappingDto"}}},"required":true},"responses":{"200":{"description":"Mappings created or updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactPersonProfileDetailsMigrationMappingDto"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/casenotes/merge/from/{oldOffenderNo}/to/{newOffenderNo}":{"put":{"tags":["case-notes-mapping-resource"],"summary":"Replaces all occurrences of the 'from' id with the 'to' id in the mapping table","description":"Used for update after a prisoner number merge. Requires role ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"updateMappingsByNomisId_2","parameters":[{"name":"oldOffenderNo","in":"path","description":"Old prisoner number to replace","required":true,"schema":{"type":"string","description":"Old prisoner number to replace","example":"A3456KM"},"example":"A3456KM"},{"name":"newOffenderNo","in":"path","description":"New prisoner number to use","required":true,"schema":{"type":"string","description":"New prisoner number to use","example":"A3457LZ"},"example":"A3457LZ"}],"responses":{"200":{"description":"Replacement made, or not present in table","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/casenotes/merge/booking-id/{bookingId}/to/{newOffenderNo}":{"put":{"tags":["case-notes-mapping-resource"],"summary":"For all case notes with the given booking id in the mapping table, sets the offender no to the given 'to' id","description":"Used for update after a booking has been moved from one offender to another. Returns the affected case notes. Requires role ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"updateMappingsByBookingId_1","parameters":[{"name":"bookingId","in":"path","description":"The booking id","required":true,"schema":{"type":"integer","format":"int64","description":"The booking id","example":1234567},"example":1234567},{"name":"newOffenderNo","in":"path","description":"New prisoner number to use","required":true,"schema":{"type":"string","description":"New prisoner number to use","example":"A3457LZ"},"example":"A3457LZ"}],"responses":{"200":{"description":"Replacement made, or not present in table","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CaseNoteMappingDto"}}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/alerts/{offenderNo}/merge":{"put":{"tags":["alerts-mapping-resource"],"summary":"Replaces a set of new alert mappings for a prisoner and removes mappings for the removed prisoner record","description":"Replaces the mappings between all the nomis alert ids and dps alert id. Any mappings on the removed prisoner record are deleted. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"replaceMappingsForPrisonerAfterMerge","parameters":[{"name":"offenderNo","in":"path","description":"Retained NOMIS offender no","required":true,"schema":{"type":"string","description":"Retained NOMIS offender no","example":"A1234KT"},"example":"A1234KT"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MergedPrisonerAlertMappingsDto"}}},"required":true},"responses":{"200":{"description":"Mappings replaced","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/alerts/{offenderNo}/all":{"get":{"tags":["alerts-mapping-resource"],"summary":"Gets all alert mappings for a prisoner","description":"Gets all the mapping between nomis alert ids and dps alert id related to specific prisoner created either via migration or synchronisation. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"getMappingsForPrisoner","parameters":[{"name":"offenderNo","in":"path","description":"NOMIS offender no","required":true,"schema":{"type":"string","description":"NOMIS offender no","example":"A1234KT"},"example":"A1234KT"}],"responses":{"200":{"description":"Mappings for prisoner","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AllPrisonerAlertMappingsDto"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["alerts-mapping-resource"],"summary":"Replaces a set of new alert mapping for a prisoner","description":"Replaces the mappings between all the nomis alert ids and dps alert id. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"replaceMappingsForPrisoner","parameters":[{"name":"offenderNo","in":"path","description":"NOMIS offender no","required":true,"schema":{"type":"string","description":"NOMIS offender no","example":"A1234KT"},"example":"A1234KT"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrisonerAlertMappingsDto"}}},"required":true},"responses":{"200":{"description":"Mappings replaced","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["alerts-mapping-resource"],"summary":"Creates a set of new alert mapping for a prisoner","description":"Creates a mapping between all the nomis alert ids and dps alert id. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMappingsForPrisoner","parameters":[{"name":"offenderNo","in":"path","description":"NOMIS offender no","required":true,"schema":{"type":"string","description":"NOMIS offender no","example":"A1234KT"},"example":"A1234KT"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrisonerAlertMappingsDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/alerts/nomis-booking-id/{bookingId}/nomis-alert-sequence/{alertSequence}":{"get":{"tags":["alerts-mapping-resource"],"summary":"get mapping","description":"Retrieves a mapping by NOMIS id. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"getMappingByNomisId","parameters":[{"name":"bookingId","in":"path","description":"NOMIS booking id","required":true,"schema":{"type":"integer","format":"int64","description":"NOMIS booking id","example":12345},"example":12345},{"name":"alertSequence","in":"path","description":"NOMIS booking id","required":true,"schema":{"type":"integer","format":"int64","description":"NOMIS booking id","example":2},"example":2}],"responses":{"200":{"description":"Mapping Information Returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertMappingDto"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Id does not exist in mapping table","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["alerts-mapping-resource"],"summary":"updates mapping","description":"Updates a mapping by NOMIS id setting a new NOMIS booking Id. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"updateMappingBookingIdByNomisId","parameters":[{"name":"bookingId","in":"path","description":"NOMIS booking id","required":true,"schema":{"type":"integer","format":"int64","description":"NOMIS booking id","example":12345},"example":12345},{"name":"alertSequence","in":"path","description":"NOMIS booking id","required":true,"schema":{"type":"integer","format":"int64","description":"NOMIS booking id","example":2},"example":2}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NomisMappingIdUpdate"}}},"required":true},"responses":{"200":{"description":"Mapping Information Returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertMappingDto"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Id does not exist in mapping table","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/activities":{"put":{"tags":["activity-mapping-resource"],"summary":"Updates an activity mapping","description":"Updates a mapping between Nomis and Activities, including both the COURSE_ACTIVITY and COURSE_SCHEDULE. Requires NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"updateMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityMappingDto"}}},"required":true},"responses":{"200":{"description":"Mapping entry updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityMappingDto"}}}},"400":{"description":"The request is invalid, see response for details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"An activity schedule mapping to update could not be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["activity-mapping-resource"],"summary":"Creates a new activity mapping","description":"Creates a mapping between nomis id and Activity service id. Requires NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping entry created","content":{}},"400":{"description":"Nomis or activity schedule ids already exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/prison/{prisonId}/room-mappings":{"get":{"tags":["visit-mapping-resource"],"summary":"get room mappings for a prison","description":"Retrieves  room mappings associated with a NOMIS prison id. Requires role NOMIS_DPS_MAPPING__VISITS__RW","operationId":"getRoomMappings","parameters":[{"name":"prisonId","in":"path","description":"NOMIS prison Id","required":true,"schema":{"type":"string","description":"NOMIS prison Id","example":"MDI"},"example":"MDI"}],"responses":{"200":{"description":"Mapping list Returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoomMappingDto"}}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["visit-mapping-resource"],"summary":"Creates a new room mapping","description":"Creates a new room mapping. Requires role NOMIS_DPS_MAPPING__VISITS__RW","operationId":"createRoomMapping","parameters":[{"name":"prisonId","in":"path","description":"NOMIS prison Id","required":true,"schema":{"type":"string","description":"NOMIS prison Id","example":"MDI"},"example":"MDI"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRoomMappingDto"}}},"required":true},"responses":{"201":{"description":"Visit mapping entry created","content":{}},"400":{"description":"mapping for this nomis room and prison already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/visits":{"post":{"tags":["visit-mapping-resource"],"summary":"Creates a new visit","description":"Creates a new visit and decrements the visit balance. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMapping_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VisitMappingDto"}}},"required":true},"responses":{"201":{"description":"Visit mapping entry created","content":{}},"400":{"description":"Nomis or VSIP ids already exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate visit has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}},"delete":{"tags":["visit-mapping-resource"],"summary":"Deletes visit id mappings","description":"Deletes all rows from the the visit id table. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"deleteVisitIdMappings","parameters":[{"name":"onlyMigrated","in":"query","description":"if true delete mapping entries created by the migration process only (synchronisation records are unaffected)","required":false,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"204":{"description":"Visit id mappings deleted","content":{"application/json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/visit-balance-adjustment":{"post":{"tags":["visit-balance-adjustment-mapping-resource"],"summary":"Creates a prisoner visit balance adjustment mapping","description":"Creates a prisoner visit balance adjustment mapping. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMapping_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VisitBalanceAdjustmentMappingDto"}}},"required":true},"responses":{"201":{"description":"Mappings created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}},"delete":{"tags":["visit-balance-adjustment-mapping-resource"],"summary":"Deletes all visit balance adjustment mappings","description":"Deletes all visit balance adjustment mappings regardless of source.\n      This is expected to only ever been used in a non-production environment. Requires role ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"deleteAllMappings","responses":{"204":{"description":"All mappings deleted","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/visit-balance":{"post":{"tags":["visit-balance-mapping-resource"],"summary":"Creates a prisoner visit balance mapping","description":"Creates a prisoner visit balance mapping. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMapping_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VisitBalanceMappingDto"}}},"required":true},"responses":{"201":{"description":"Mappings created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}},"delete":{"tags":["visit-balance-mapping-resource"],"summary":"Deletes all prisoner visit order balance mappings","description":"Deletes all prisoner visit order balance mappings regardless of source.\n      This is expected to only ever been used in a non-production environment. Requires role ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"deleteAllMappings_1","responses":{"204":{"description":"All mappings deleted","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/transactions/nomis-transaction-id":{"post":{"tags":["transaction-mapping-resource"],"summary":"get mappings by Nomis id","description":"Retrieves multiple mappings by NOMIS transaction id. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"getMappingsByNomisId","requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"NOMIS transaction ids","items":{"type":"integer","format":"int64","description":"NOMIS transaction ids"}}}},"required":true},"responses":{"200":{"description":"Mapping Information Returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TransactionMappingDto"}}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Id does not exist in mapping table","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/transactions/batch":{"post":{"tags":["transaction-mapping-resource"],"summary":"Creates a batch of new transaction mappings","description":"Creates a mapping between a batch of nomis transaction ids and dps transaction ids. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMappings_2","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TransactionMappingDto"}}}},"required":true},"responses":{"201":{"description":"Mappings created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/transactions":{"post":{"tags":["transaction-mapping-resource"],"summary":"Creates a new transaction mapping","description":"Creates a mapping between nomis transaction id and dps transaction id. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMapping_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/temporary-absence/scheduled-movement":{"post":{"tags":["temporary-absence-resource"],"summary":"Creates a mapping for a single scheduled movement","description":"Creates a mapping for a single scheduled movement. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createScheduledMovementSyncMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduledMovementSyncMappingDto"}}},"required":true},"responses":{"201":{"description":"Scheduled movement mapping created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemporaryAbsenceScheduleMapping"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The mapping already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/temporary-absence/outside-movement":{"post":{"tags":["temporary-absence-resource"],"summary":"Creates a mapping for a single temporary absence outside movement","description":"Creates a mapping for a single temporary absence outside movement. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createOutsideMovementSyncMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemporaryAbsenceOutsideMovementSyncMappingDto"}}},"required":true},"responses":{"201":{"description":"Outside movement mapping created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemporaryAbsenceAppMultiMapping"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The mapping already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/temporary-absence/external-movement":{"post":{"tags":["temporary-absence-resource"],"summary":"Creates a mapping for a single temporary absence external movement","description":"Creates a mapping for a single temporary absence external movement. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createExternalMovementSyncMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalMovementSyncMappingDto"}}},"required":true},"responses":{"201":{"description":"External movement mapping created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemporaryAbsenceMovementMapping"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The mapping already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/temporary-absence/application":{"post":{"tags":["temporary-absence-resource"],"summary":"Creates a mapping for a single temporary absence application","description":"Creates a mapping for a single temporary absence application. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createApplicationSyncMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemporaryAbsenceApplicationSyncMappingDto"}}},"required":true},"responses":{"201":{"description":"Application mapping created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemporaryAbsenceApplicationMapping"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"The mapping already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/sentencing/adjustments":{"get":{"tags":["sentencing-mapping-resource"],"summary":"get all paged mappings","description":"Retrieve all mappings . Results are paged.","operationId":"getAllSentenceAdjustmentMappings","parameters":[{"name":"pageRequest","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"Mapping page returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentencingAdjustmentMappingDto"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["sentencing-mapping-resource"],"summary":"Creates a new sentence adjustment mapping","description":"Creates a mapping between nomis sentence adjustment ids and Sentencing service id. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMapping_5","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentencingAdjustmentMappingDto"}}},"required":true},"responses":{"201":{"description":"Sentence adjustment mapping entry created","content":{}},"400":{"description":"Nomis or Sentencing ids already exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate sentencing adjustment mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}},"delete":{"tags":["sentencing-mapping-resource"],"summary":"Deletes sentence adjustment mappings","description":"Deletes all rows from the the sentence adjustment mapping table. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"deleteSentenceAdjustmentMappings","parameters":[{"name":"onlyMigrated","in":"query","description":"if true delete mapping entries created by the migration process only (synchronisation records are unaffected)","required":false,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"204":{"description":"sentence adjustment mappings deleted","content":{"application/json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/prisoner-balance":{"post":{"tags":["prisoner-balance-mapping-resource"],"summary":"Creates a prisoner account balance mapping","description":"Creates a prisoner account balance mapping. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createPrisonerMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrisonerBalanceMappingDto"}}},"required":true},"responses":{"201":{"description":"Mappings created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}},"delete":{"tags":["prisoner-balance-mapping-resource"],"summary":"Deletes all prisoner balance mappings","description":"Deletes all prisoner balance mappings regardless of source.\n      This is expected to only ever been used in a non-production environment. Requires role ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"deleteAllPrisonerMappings","responses":{"204":{"description":"All mappings deleted","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/prison-balance":{"post":{"tags":["prison-balance-mapping-resource"],"summary":"Creates a prison account balance mapping","description":"Creates a prison account balance mapping. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createPrisonMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrisonBalanceMappingDto"}}},"required":true},"responses":{"201":{"description":"Mappings created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}},"delete":{"tags":["prison-balance-mapping-resource"],"summary":"Deletes all prison balance mappings","description":"Deletes all prison balance mappings regardless of source.\n      This is expected to only ever been used in a non-production environment. Requires role ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"deleteAllPrisonMappings","responses":{"204":{"description":"All mappings deleted","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/non-associations":{"post":{"tags":["non-associations-mapping-resource"],"summary":"Creates a new Non-association mapping","description":"Creates a mapping between a Nomis non-association and non-association instance id. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMapping_6","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NonAssociationMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping entry created","content":{}},"409":{"description":"Indicates a duplicate non-association has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["non-associations-mapping-resource"],"summary":"Deletes non-association mappings.","description":"Deletes all rows from the non-associations mapping table. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"deleteNonAssociationMappings","parameters":[{"name":"onlyMigrated","in":"query","description":"if true delete mapping entries created by the migration process only (synchronisation records are unaffected)","required":false,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"204":{"description":"Non association mappings deleted","content":{"application/json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/locations":{"post":{"tags":["location-mapping-resource"],"summary":"Creates a new Location mapping","description":"Creates a mapping between a Nomis location id and a DPS location id. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMapping_7","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping entry created","content":{}},"409":{"description":"Indicates a duplicate location has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["location-mapping-resource"],"summary":"Deletes location mappings.","description":"Deletes all rows from the locations mapping table. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"deleteMappings","parameters":[{"name":"onlyMigrated","in":"query","description":"if true delete mapping entries created by the migration process only (synchronisation records are unaffected)","required":false,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"204":{"description":"Location mappings deleted","content":{"application/json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/incidents":{"post":{"tags":["incident-mapping-resource"],"summary":"Creates a new Incident Report mapping","description":"Creates a mapping between a Nomis incident report id and DPS Incident report id. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMapping_8","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncidentMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping entry created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate incident has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}},"delete":{"tags":["incident-mapping-resource"],"summary":"Deletes incident mappings.","description":"Deletes all rows from the incidents mapping table. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"deleteMappings_1","parameters":[{"name":"onlyMigrated","in":"query","description":"if true delete mapping entries created by the migration process only (synchronisation records are unaffected)","required":false,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"204":{"description":"Incident mappings deleted","content":{"application/json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/incentives":{"post":{"tags":["incentive-mapping-resource"],"summary":"Creates a new incentive mapping","description":"Creates a mapping between nomis Incentive ids and Incentive service id. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMapping_9","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncentiveMappingDto"}}},"required":true},"responses":{"201":{"description":"Incentive mapping entry created","content":{}},"400":{"description":"Nomis or Incentive ids already exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate incentive has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}},"delete":{"tags":["incentive-mapping-resource"],"summary":"Deletes incentive mappings","description":"Deletes all rows from the the incentive mapping table. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"deleteIncentiveMappings","parameters":[{"name":"onlyMigrated","in":"query","description":"if true delete mapping entries created by the migration process only (synchronisation records are unaffected)","required":false,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"204":{"description":"Incentive mappings deleted","content":{"application/json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/hearings":{"post":{"tags":["hearings-mapping-resource"],"summary":"Creates a new hearing mapping","description":"Creates a record of a DPS hearing Id and a NOMIS hearing Id . Requires NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMapping_10","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdjudicationMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping entry created","content":{}},"409":{"description":"Hearing already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/csip/reviews":{"post":{"tags":["csip-review-mapping-resource"],"summary":"Creates a new CSIP Review mapping","description":"Creates a mapping between a Nomis CSIP review id and DPS CSIP review id. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createReviewMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CSIPChildMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping entry created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CSIPReviewMapping"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate csip has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/csip/plans":{"post":{"tags":["csip-plan-mapping-resource"],"summary":"Creates a new CSIP Plan mapping","description":"Creates a mapping between a Nomis CSIP plan id and DPS CSIP plan id. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createPlanMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CSIPChildMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping entry created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CSIPPlanMapping"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate csip has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/csip/interviews":{"post":{"tags":["csip-interview-mapping-resource"],"summary":"Creates a new CSIP Interview mapping","description":"Creates a mapping between a Nomis CSIP interview id and DPS CSIP interview id. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createInterviewMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CSIPChildMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping entry created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CSIPInterviewMapping"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate csip has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/csip/factors":{"post":{"tags":["csip-factor-mapping-resource"],"summary":"Creates a new CSIP Factor mapping","description":"Creates a mapping between a Nomis CSIP factor id and DPS CSIP factor id. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createFactorMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CSIPChildMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping entry created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CSIPFactorMapping"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate csip has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/csip/children/all":{"post":{"tags":["csip-mapping-resource"],"summary":"Adds new child mappings to a CSIP Report","description":"Adds child csip mappings. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createChildMappings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CSIPFullMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping entry/entries created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate csip child has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/csip/attendees":{"post":{"tags":["csip-attendee-mapping-resource"],"summary":"Creates a new CSIP Attendee mapping","description":"Creates a mapping between a Nomis CSIP attendee id and DPS CSIP attendee id. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createAttendeeMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CSIPChildMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping entry created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CSIPAttendeeMapping"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate csip has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/csip/all":{"post":{"tags":["csip-mapping-resource"],"summary":"Creates a new CSIP Report mapping along with any associated children","description":"Creates a mapping between a Nomis CSIP report id and DPS CSIP report id and all its children. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMappingWithChildren","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CSIPFullMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping entry created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate csip has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}},"delete":{"tags":["csip-mapping-resource"],"summary":"Deletes CSIP mappings.","description":"Deletes all rows from the csip mapping table. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"deleteAllMappings_2","parameters":[{"name":"onlyMigrated","in":"query","description":"if true delete mapping entries created by the migration process only (synchronisation records are unaffected)","required":false,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"204":{"description":"CSIP mappings deleted","content":{"application/json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/csip":{"post":{"tags":["csip-mapping-resource"],"summary":"Creates a new CSIP Report mapping","description":"Creates a mapping between a Nomis CSIP report id and DPS CSIP report id. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMapping_11","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CSIPReportMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping entry created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CSIPMapping"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate csip has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/court-sentencing/sentences/nomis-sentence-ids/get-list":{"post":{"tags":["court-sentencing-mapping-resource"],"summary":"get sentence mappings by NOMIS sentence IDs","description":"Retrieves mappings for a list of NOMIS sentence IDs. Any mappings not found will be missing but the response will still be a 200. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"getSentenceMappingsByNomisIds","requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"List of NOMIS sentence IDs","example":[{"nomisBookingId":12345,"nomisSentenceSequence":1},{"nomisBookingId":12345,"nomisSentenceSequence":2}],"items":{"$ref":"#/components/schemas/NomisSentenceId"}}}},"required":true},"responses":{"200":{"description":"List of associated mappings","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SentenceMappingDto"}}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/court-sentencing/sentences/dps-sentence-ids/get-list":{"post":{"tags":["court-sentencing-mapping-resource"],"summary":"get sentence mappings by DPS sentence IDs","description":"Retrieves mappings for a list of DPS sentence IDs. Any mappings noty found will be missing but the response will still be a 200. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"getSentenceMappingsByDpsIds","requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"List of DPS sentence IDs","example":["ce53d679-dec3-4cd2-9bc7-35037c78c4b7","fd246c2e-146b-47a9-9bda-14c279cd1708"],"items":{"type":"string","description":"List of DPS sentence IDs","example":["ce53d679-dec3-4cd2-9bc7-35037c78c4b7","fd246c2e-146b-47a9-9bda-14c279cd1708"]}}}},"required":true},"responses":{"200":{"description":"List of associated mappings","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SentenceMappingDto"}}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/court-sentencing/sentences":{"post":{"tags":["court-sentencing-mapping-resource"],"summary":"Creates a new sentence hierarchical mapping","description":"Creates a mapping between nomis sentence ID (booking id and sentence seq) and DPS Sentence ID. Also maps child charge entities. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createSentenceMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentenceMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentenceMapping"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/court-sentencing/sentence-terms":{"post":{"tags":["court-sentencing-mapping-resource"],"summary":"Creates a new sentence term mapping","description":"Creates a mapping between nomis sentence term (booking id, term seq and sentence seq) and DPS term (period length) ID. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createSentenceTermMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentenceTermMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentenceTermMapping"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/court-sentencing/prisoner/{offenderNo}/court-cases":{"post":{"tags":["court-sentencing-mapping-resource"],"summary":"Creates new court case hierarchical mappings for an offender during migration.","description":"Creates mappings between nomis Court Case ID and DPS Court Case ID for an offender. Only used by migration. Also maps child entities: Court appearances and charges. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMigrationMapping","parameters":[{"name":"offenderNo","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtCaseBatchMappingDto"}}},"required":true},"responses":{"201":{"description":"Mappings created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/court-sentencing/court-cases/nomis-case-ids/get-list":{"post":{"tags":["Multiple Court case mappings lookup"],"summary":"Retrieves list of the case mappings using the supplied NOMIS case ids","description":"Requires role <b>NOMIS_MAPPING_API__SYNCHRONISATION__RW</b>","operationId":"getCaseMappingByNomisIs","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"List of NOMIS to DPS Mappings Information Returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CourtCaseMappingDto"}}}}},"400":{"description":"The request is invalid, see response for details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden to this endpoint. Requires role NOMIS_MAPPING_API__SYNCHRONISATION__RW","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/court-sentencing/court-cases/delete-by-dps-ids":{"post":{"tags":["court-sentencing-mapping-resource"],"summary":"Deletes court case hierarchical mappings by DPS IDs","description":"Deletes court case hierarchical mappings by DPS IDs. Also maps child entities: Court appearances and charges. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"deleteMappingByDpsId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DpsCourtCaseBatchMappingDto"}}},"required":true},"responses":{"204":{"description":"Mapping created or replaced","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/court-sentencing/court-cases":{"post":{"tags":["court-sentencing-mapping-resource"],"summary":"Creates a new court case hierarchical mapping","description":"Creates a mapping between nomis Court Case ID and DPS Court Case ID. Also maps child entities: Court appearances and charges. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMapping_12","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtCaseAllMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/court-sentencing/court-appearances/recall":{"post":{"tags":["court-sentencing-mapping-resource"],"summary":"Creates new court appearance recall mappings","description":"Creates mappings between nomis Court appearance IDs and DPS Recall ID. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createCourtAppearanceRecallMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtAppearanceRecallMappingsDto"}}},"required":true},"responses":{"201":{"description":"Mappings created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/court-sentencing/court-appearances":{"post":{"tags":["court-sentencing-mapping-resource"],"summary":"Creates a new court appearance mapping","description":"Creates a mapping between nomis Court appearance ID and DPS Court appearance ID. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createCourtAppearanceMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtAppearanceMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtAppearanceMapping"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/corporate/web":{"post":{"tags":["corporate-mapping-resource"],"summary":"Creates web mappings for synchronisation","description":"Creates mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createWebMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganisationsMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/corporate/phone":{"post":{"tags":["corporate-mapping-resource"],"summary":"Creates phone mappings for synchronisation","description":"Creates mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createPhoneMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganisationsMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/corporate/organisation":{"get":{"tags":["corporate-mapping-resource"],"summary":"Get paged corporate mappings by migration id","description":"Retrieve all corporate mappings. Results are paged. Requires role ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"getAllCorporateMappings","parameters":[{"name":"pageRequest","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"Corporate mapping page returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageOrganisationsMappingDto"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["corporate-mapping-resource"],"summary":"Creates corporate mappings for synchronisation","description":"Creates mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createOrganisationMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganisationsMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/corporate/migrate":{"post":{"tags":["corporate-mapping-resource"],"summary":"Creates a tree of corporate mappings typically for a migration","description":"Creates a tree of corporate mappings typically for a migration between NOMIS ids and dps ids. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMappings_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CorporateMappingsDto"}}},"required":true},"responses":{"201":{"description":"Mappings created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/corporate/email":{"post":{"tags":["corporate-mapping-resource"],"summary":"Creates email mappings for synchronisation","description":"Creates mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createEmailMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganisationsMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/corporate/address-phone":{"post":{"tags":["corporate-mapping-resource"],"summary":"Creates address phone mappings for synchronisation","description":"Creates mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createAddressPhoneMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganisationsMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/corporate/address":{"post":{"tags":["corporate-mapping-resource"],"summary":"Creates address mappings for synchronisation","description":"Creates mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createAddressMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganisationsMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/core-person/migrate":{"post":{"tags":["core-person-mapping-resource"],"summary":"Creates a tree of core person mappings typically for a migration","description":"Creates a tree of core person mappings typically for a migration between NOMIS ids and cpr ids. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMappings_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CorePersonMappingsDto"}}},"required":true},"responses":{"201":{"description":"Mappings created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/contact-person/replace/prisoner/{offenderNo}":{"post":{"tags":["contact-person-mapping-resource"],"summary":"Replaces a list of contact related mappings.","description":"Creates a list of contact and contact restrictions mappings and removes the previous supplied set. Used typically for a prisoner merge in NOMIS. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"replacePrisonerMappings","parameters":[{"name":"offenderNo","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactPersonPrisonerMappingsDto"}}},"required":true},"responses":{"200":{"description":"Mappings replaced","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/contact-person/replace/prisoner-restrictions/{retainedOffenderNo}/replaces/{removedOffenderNo}":{"post":{"tags":["contact-person-mapping-resource"],"summary":"Replace prisoner restriction mappings for an offender and removes any for the removed offender","description":"Deletes all existing prisoner restriction mappings for the given retained offender number and removed offender number and creates new mappings from the provided list. Requires role ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"replacePrisonerRestrictionAfterMergeMappings","parameters":[{"name":"retainedOffenderNo","in":"path","description":"Prisoner number","required":true,"schema":{"type":"string","description":"Prisoner number","example":"A1234BC"},"example":"A1234BC"},{"name":"removedOffenderNo","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrisonerRestrictionMappingsDto"}}},"required":true},"responses":{"200":{"description":"Prisoner restriction mappings replaced successfully","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/contact-person/replace/prisoner-restrictions/{offenderNo}":{"post":{"tags":["contact-person-mapping-resource"],"summary":"Replace prisoner restriction mappings for an offender","description":"Deletes all existing prisoner restriction mappings for the given offender number and creates new mappings from the provided list. Requires role ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"replacePrisonerRestrictionMappings","parameters":[{"name":"offenderNo","in":"path","description":"Prisoner number","required":true,"schema":{"type":"string","description":"Prisoner number","example":"A1234BC"},"example":"A1234BC"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrisonerRestrictionMappingsDto"}}},"required":true},"responses":{"200":{"description":"Prisoner restriction mappings replaced successfully","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/contact-person/replace/person/{personId}":{"post":{"tags":["contact-person-mapping-resource"],"summary":"Replaces a list of person related mappings.","description":"Creates a list of person mappings and removes the previous supplied set. Used typically for a person repair in NOMIS. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"replacePersonMappings","parameters":[{"name":"personId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactPersonMappingsDto"}}},"required":true},"responses":{"200":{"description":"Mappings replaced","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/contact-person/prisoner-restriction":{"post":{"tags":["contact-person-mapping-resource"],"summary":"Creates prisoner restriction mappings for synchronisation","description":"Creates prisoner restriction mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createPrisonerRestrictionMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrisonerRestrictionMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}},"delete":{"tags":["contact-person-mapping-resource"],"summary":"Deletes all prisoner restriction mappings","description":"Deletes all prisoner restriction mappings regardless of source. This is expected to only ever been used in a non-production environment. Requires role ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"deleteAllPrisonerRestrictionMappings","responses":{"204":{"description":"All prisoner restriction mappings deleted","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/mapping/contact-person/phone":{"post":{"tags":["contact-person-mapping-resource"],"summary":"Creates person phone mappings for synchronisation","description":"Creates person phone mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createPersonPhoneMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonPhoneMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/contact-person/person-restriction":{"post":{"tags":["contact-person-mapping-resource"],"summary":"Creates person restriction mappings for synchronisation","description":"Creates person restriction mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_PERSONS","operationId":"createPersonRestrictionMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonRestrictionMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/contact-person/person":{"get":{"tags":["contact-person-mapping-resource"],"summary":"Get paged person mappings by migration id","description":"Retrieve all person mappings. Results are paged. Requires role ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"getAllPersonMappings","parameters":[{"name":"pageRequest","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"Person mapping page returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagePersonMappingDto"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["contact-person-mapping-resource"],"summary":"Creates person mappings for synchronisation","description":"Creates person mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createPersonMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/contact-person/migrate":{"post":{"tags":["contact-person-mapping-resource"],"summary":"Creates a tree of contact person mappings typically for a migration","description":"Creates a tree of contact person mappings typically for a migration between NOMIS ids and dps ids. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createMappings_5","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactPersonMappingsDto"}}},"required":true},"responses":{"201":{"description":"Mappings created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/contact-person/identifier":{"post":{"tags":["contact-person-mapping-resource"],"summary":"Creates person identifier mappings for synchronisation","description":"Creates person identifier mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createPersonIdentifierMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonIdentifierMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/contact-person/employment":{"post":{"tags":["contact-person-mapping-resource"],"summary":"Creates person employment mappings for synchronisation","description":"Creates person employment mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createPersonEmploymentMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonEmploymentMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/contact-person/email":{"post":{"tags":["contact-person-mapping-resource"],"summary":"Creates person email mappings for synchronisation","description":"Creates person email mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createPersonEmailMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonEmailMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/contact-person/contact-restriction":{"post":{"tags":["contact-person-mapping-resource"],"summary":"Creates person contact restriction mappings for synchronisation","description":"Creates person contact restriction mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createPersonContactRestrictionMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonContactRestrictionMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/contact-person/contact":{"post":{"tags":["contact-person-mapping-resource"],"summary":"Creates person contact mappings for synchronisation","description":"Creates person contact mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createPersonContactMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonContactMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Access forbidden for this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMappingErrorResponse"}}}}}}},"/mapping/contact-person/address":{"post":{"tags":["contact-person-mapping-resource"],"summary":"Creates person address mappings for synchronisation","description":"Creates person address mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_MAPPING_API__SYNCHRONISATION__RW","operationId":"createPersonAddressMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonAddressMappingDto"}}},"required":true},"responses":{"201":{"description":"Mapping created","content":{}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"4
[...]
