{"openapi":"3.1.0","info":{"title":"HMPPS Remand and Sentencing API","description":"Recording Remand and sentencing","contact":{"name":"HMPPS Digital Studio","email":"feedback@digital.justice.gov.uk"},"version":"2026-01-09.1102.a1a2084"},"servers":[{"url":"https://remand-and-sentencing-api.hmpps.service.justice.gov.uk","description":"Prod"},{"url":"https://remand-and-sentencing-api-preprod.hmpps.service.justice.gov.uk","description":"Preprod"},{"url":"https://remand-and-sentencing-api-dev.hmpps.service.justice.gov.uk","description":"Development"},{"url":"http://localhost:8080","description":"Local"}],"tags":[{"name":"prisoner-merge-controller","description":"Create operation for bookings in NOMIS. This is used when court cases are cloned onto different bookings"},{"name":"legacy-court-appearance-controller","description":"CRUD operations for syncing court appearance data from NOMIS Court Events into remand and sentencing api database."},{"name":"legacy-court-case-controller","description":"CRUD operations for syncing court case data from NOMIS into remand and sentencing api database."},{"name":"sentence-type-controller","description":"Sentence Type"},{"name":"migration-controller","description":"Create operation for migrating court case data from NOMIS into remand and sentencing api database."},{"name":"charge-outcome-controller","description":"Charge outcome"},{"name":"legacy-sentence-controller","description":"CRUD operations for syncing sentence data from NOMIS Offender sentences into remand and sentencing api database."},{"name":"sentence-controller","description":"Sentences"},{"name":"document-admin-controller","description":"Endpoints for document admin operations"},{"name":"legacy-recall-controller","description":"GET operation for syncing recall data. This controller is only ever used for syncing DPS recalls to NOMIS."},{"name":"booking-controller","description":"Create operation for bookings in NOMIS. This is used when court cases are cloned onto different bookings"},{"name":"recall-controller","description":"Recall"},{"name":"court-appearance-controller","description":"Court Appearances"},{"name":"immigration-detention-controller","description":"Immigration Detention"},{"name":"appearance-outcome-controller","description":"Appearance outcome"},{"name":"person-controller","description":"Get person details"},{"name":"legacy-period-length-controller","description":"CRUD operations for syncing period-length data between NOMIS and RAS (period-lengths are called sentence-terms in NOMIS)"},{"name":"charge-controller","description":"Charges"},{"name":"legacy-charge-controller","description":"CRUD operations for syncing charge data from NOMIS Offender charges into remand and sentencing api database."},{"name":"uploaded-documents-controller","description":"Endpoint for creating a record of an uploaded document"},{"name":"court-case-controller","description":"Court case"},{"name":"legacy-prisoner-controller","description":"CRUD operations for getting prisoner data"},{"name":"appearance-type-controller","description":"Appearance Type"},{"name":"sentence-type-update-controller","description":"Sentence Type Updates"}],"paths":{"/recall/{recallUuid}":{"get":{"tags":["recall-controller"],"summary":"Retrieve a recall","description":"This endpoint will retrieve the details of a recall","operationId":"getRecall","parameters":[{"name":"recallUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Returns recall details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Recall"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Recall"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Recall"}}}},"404":{"description":"Not found if no recall uuid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Recall"}}}}}},"put":{"tags":["recall-controller"],"summary":"Update a recall (or create one with the passed in details)","description":"This endpoint will update a recall (or create one with the passed in details)","operationId":"updateRecall","parameters":[{"name":"recallUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRecall"}}},"required":true},"responses":{"200":{"description":"Returns court case UUID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveRecallResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveRecallResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveRecallResponse"}}}}}},"delete":{"tags":["recall-controller"],"summary":"Delete a recall","description":"This endpoint will delete a recall","operationId":"deleteRecall","parameters":[{"name":"recallUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Recall deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteRecallResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteRecallResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteRecallResponse"}}}}}}},"/queue-admin/retry-dlq/{dlqName}":{"put":{"tags":["hmpps-queue-resource"],"operationId":"retryDlq","parameters":[{"name":"dlqName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RetryDlqResult"}}}}}}},"/queue-admin/retry-all-dlqs":{"put":{"tags":["hmpps-queue-resource"],"operationId":"retryAllDlqs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RetryDlqResult"}}}}}}}},"/queue-admin/purge-queue/{queueName}":{"put":{"tags":["hmpps-queue-resource"],"operationId":"purgeQueue","parameters":[{"name":"queueName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurgeQueueResult"}}}}}}},"/legacy/sentence/{lifetimeUuid}":{"get":{"tags":["legacy-sentence-controller"],"summary":"retrieve a sentence","description":"This endpoint will retrieve sentence details.","operationId":"get","parameters":[{"name":"lifetimeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Returns sentence details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacySentence"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacySentence"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacySentence"}}}}}},"put":{"tags":["legacy-sentence-controller"],"summary":"Update a sentence","description":"Synchronise an update of sentence from NOMIS Offender sentences into remand and sentencing API.","operationId":"update","parameters":[{"name":"lifetimeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCreateSentence"}}},"required":true},"responses":{"204":{"description":"No content"},"401":{"description":"Unauthorised, requires a valid Oauth2 token"},"403":{"description":"Forbidden, requires an appropriate role"}}},"delete":{"tags":["legacy-sentence-controller"],"summary":"Delete Sentence","description":"Synchronise a deletion of sentence from NOMIS offender charges into remand and sentencing API.","operationId":"delete","parameters":[{"name":"lifetimeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"performedByUser","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"401":{"description":"Unauthorised, requires a valid Oauth2 token"},"403":{"description":"Forbidden, requires an appropriate role"}}}},"/legacy/period-length/{periodLengthUuid}":{"get":{"tags":["legacy-period-length-controller"],"summary":"retrieve a period-length","description":"This endpoint will retrieve period-length details.","operationId":"get_1","parameters":[{"name":"periodLengthUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Returns period-length details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyPeriodLength"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyPeriodLength"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyPeriodLength"}}}},"404":{"description":"Not found: Period length either doesn't exist, has no sentence, or is deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyPeriodLength"}}}}}},"put":{"tags":["legacy-period-length-controller"],"summary":"Updates one or more period lengths related to a period-length UUID","description":"Updates one or more period lengths related to a period-length UUID","operationId":"update_1","parameters":[{"name":"periodLengthUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCreatePeriodLength"}}},"required":true},"responses":{"204":{"description":"No content"},"401":{"description":"Unauthorised, requires a valid Oauth2 token"},"403":{"description":"Forbidden, requires an appropriate role"},"404":{"description":"Period length or sentence not found"}}},"delete":{"tags":["legacy-period-length-controller"],"summary":"Delete Period Length","description":"This endpoint will soft-delete a period-length from RAS.","operationId":"delete_1","parameters":[{"name":"periodLengthUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"performedByUser","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"401":{"description":"Unauthorised, requires a valid Oauth2 token"},"403":{"description":"Forbidden, requires an appropriate role"}}}},"/legacy/court-case/{sourceCourtCaseUuid}/unlink/{targetCourtCaseUuid}":{"put":{"tags":["legacy-court-case-controller"],"summary":"Unlinks a court case to another court case","description":"Synchronise a unlink of a court case from NOMIS into remand and sentencing API.","operationId":"unlinkCourtCase","parameters":[{"name":"sourceCourtCaseUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"targetCourtCaseUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyUnlinkCase"}}}},"responses":{"204":{"description":"No content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnlinkEventsToEmit"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnlinkEventsToEmit"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnlinkEventsToEmit"}}}}}}},"/legacy/court-case/{sourceCourtCaseUuid}/link/{targetCourtCaseUuid}":{"put":{"tags":["legacy-court-case-controller"],"summary":"Links a court case to another court case","description":"Synchronise a link of a court case from NOMIS into remand and sentencing API.","operationId":"linkCourtCase","parameters":[{"name":"sourceCourtCaseUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"targetCourtCaseUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyLinkCase"}}}},"responses":{"204":{"description":"No content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PairStringString"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PairStringString"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PairStringString"}}}}}}},"/legacy/court-case/{courtCaseUuid}":{"get":{"tags":["legacy-court-case-controller"],"summary":"Retrieve court case details","description":"This endpoint will retrieve court case details","operationId":"get_2","parameters":[{"name":"courtCaseUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns court case details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCourtCase"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCourtCase"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCourtCase"}}}},"404":{"description":"Not found if no court case at uuid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCourtCase"}}}}}},"put":{"tags":["legacy-court-case-controller"],"summary":"Updates a court case","description":"Synchronise an update of court case from NOMIS into remand and sentencing API.","operationId":"update_2","parameters":[{"name":"courtCaseUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCreateCourtCase"}}},"required":true},"responses":{"204":{"description":"No content"},"401":{"description":"Unauthorised, requires a valid Oauth2 token"},"403":{"description":"Forbidden, requires an appropriate role"}}},"delete":{"tags":["legacy-court-case-controller"],"summary":"Deletes a court case","description":"Synchronise a deletion of court case from NOMIS into remand and sentencing API.","operationId":"delete_2","parameters":[{"name":"courtCaseUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"performedByUser","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"court case deleted"},"401":{"description":"Unauthorised, requires a valid Oauth2 token"},"403":{"description":"Forbidden, requires an appropriate role"}}}},"/legacy/court-case/{courtCaseUuid}/case-references/refresh":{"put":{"tags":["legacy-court-case-controller"],"summary":"Refresh case references","description":"This endpoint will refresh case references","operationId":"refreshCaseReferences","parameters":[{"name":"courtCaseUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshCaseReferences"}}},"required":true},"responses":{"204":{"description":"No content"},"401":{"description":"Unauthorised, requires a valid Oauth2 token"},"403":{"description":"Forbidden, requires an appropriate role"}}}},"/legacy/court-appearance/{lifetimeUuid}":{"get":{"tags":["legacy-court-appearance-controller"],"summary":"Retrieve court appearance details","description":"This endpoint will retrieve court appearance details","operationId":"get_3","parameters":[{"name":"lifetimeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Returns court appearance details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCourtAppearance"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCourtAppearance"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCourtAppearance"}}}},"404":{"description":"Not found if no court appearance at uuid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCourtAppearance"}}}}}},"put":{"tags":["legacy-court-appearance-controller"],"summary":"Updates a court appearance","description":"Synchronise an update of court appearance from NOMIS court events into remand and sentencing API.","operationId":"update_3","parameters":[{"name":"lifetimeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCreateCourtAppearance"}}},"required":true},"responses":{"204":{"description":"court appearance updated"},"401":{"description":"Unauthorised, requires a valid Oauth2 token"},"403":{"description":"Forbidden, requires an appropriate role"}}},"delete":{"tags":["legacy-court-appearance-controller"],"summary":"Delete Appearance","description":"Synchronise a deletion of court appearance from NOMIS court events into remand and sentencing API.","operationId":"delete_3","parameters":[{"name":"lifetimeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"performedByUser","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorised, requires a valid Oauth2 token"},"403":{"description":"Forbidden, requires an appropriate role"}}}},"/legacy/court-appearance/{lifetimeUuid}/charge/{chargeLifetimeUuid}":{"get":{"tags":["legacy-court-appearance-controller"],"summary":"Get latest charge at appearance","description":"This endpoint will retrieve the latest charge at a court appearance","operationId":"getChargeAtAppearance","parameters":[{"name":"lifetimeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"chargeLifetimeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCharge"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCharge"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCharge"}}}}}},"put":{"tags":["legacy-court-appearance-controller"],"summary":"link Appearance with Charge","description":"Synchronise a link between court appearance and charge from NOMIS into remand and sentencing API.","operationId":"linkAppearanceWithCharge","parameters":[{"name":"lifetimeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"chargeLifetimeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyUpdateCharge"}}},"required":true},"responses":{"204":{"description":"No content"},"401":{"description":"Unauthorised, requires a valid Oauth2 token"},"403":{"description":"Forbidden, requires an appropriate role"}}},"delete":{"tags":["legacy-court-appearance-controller"],"summary":"Delete Appearance Charge link","description":"Synchronise a deletion of link between court appearance and charge from NOMIS into remand and sentencing API.","operationId":"unlinkAppearanceWithCharge","parameters":[{"name":"lifetimeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"chargeLifetimeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"performedByUser","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorised, requires a valid Oauth2 token"},"403":{"description":"Forbidden, requires an appropriate role"}}}},"/legacy/court-appearance/{courtAppearanceUuid}/charge/{chargeUuid}/link":{"put":{"tags":["legacy-court-appearance-controller"],"summary":"link a charge with a case","description":"Synchronise a link between charge and court case from NOMIS into remand and sentencing API.","operationId":"linkChargeToCaseInAppearance","parameters":[{"name":"courtAppearanceUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"chargeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyLinkChargeToCase"}}},"required":true},"responses":{"204":{"description":"No content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PairEntityChangeStatusLegacyChargeCreatedResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PairEntityChangeStatusLegacyChargeCreatedResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PairEntityChangeStatusLegacyChargeCreatedResponse"}}}}}}},"/legacy/charge/{lifetimeUuid}":{"get":{"tags":["legacy-charge-controller"],"summary":"retrieve a charge","description":"This endpoint will retrieve charge details.","operationId":"get_4","parameters":[{"name":"lifetimeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Returns charge details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCharge"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCharge"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCharge"}}}}}},"put":{"tags":["legacy-charge-controller"],"summary":"Update a charge in all appearances","description":"Synchronise an update of charge in all appearances from NOMIS Offender charges into remand and sentencing API.","operationId":"update_4","parameters":[{"name":"lifetimeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyUpdateWholeCharge"}}},"required":true},"responses":{"204":{"description":"No content"},"401":{"description":"Unauthorised, requires a valid Oauth2 token"},"403":{"description":"Forbidden, requires an appropriate role"}}}},"/legacy/charge/{lifetimeUuid}/appearance/{appearanceLifetimeUuid}":{"put":{"tags":["legacy-charge-controller"],"summary":"Update a charge in an appearance","description":"Synchronise an update of charge within an appearance from NOMIS Offender charges into remand and sentencing API.","operationId":"updateInAppearance","parameters":[{"name":"lifetimeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"appearanceLifetimeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyUpdateCharge"}}},"required":true},"responses":{"204":{"description":"No content"},"401":{"description":"Unauthorised, requires a valid Oauth2 token"},"403":{"description":"Forbidden, requires an appropriate role"}}}},"/immigration-detention/{immigrationDetentionUuid}":{"get":{"tags":["immigration-detention-controller"],"summary":"Retrieve an immigration detention record","description":"This endpoint will retrieve the details of an immigration detention record","operationId":"getImmigrationDetention","parameters":[{"name":"immigrationDetentionUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Returns immigration detention details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImmigrationDetention"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImmigrationDetention"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImmigrationDetention"}}}},"404":{"description":"Not found if no immigration detention uuid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImmigrationDetention"}}}}}},"put":{"tags":["immigration-detention-controller"],"summary":"Update an immigration detention record (or create one with the passed in details)","description":"This endpoint will update an immigration detention record (or create one with the passed in details)","operationId":"updateImmigrationDetention","parameters":[{"name":"immigrationDetentionUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateImmigrationDetention"}}},"required":true},"responses":{"200":{"description":"Returns court case UUID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveImmigrationDetentionResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveImmigrationDetentionResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveImmigrationDetentionResponse"}}}}}},"delete":{"tags":["immigration-detention-controller"],"summary":"Delete an immigration detention record","description":"This endpoint will delete an immigration detention record","operationId":"deleteImmigrationDetention","parameters":[{"name":"immigrationDetentionUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Immigration Detention deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteImmigrationDetentionResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteImmigrationDetentionResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteImmigrationDetentionResponse"}}}},"404":{"description":"Immigration Detention not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteImmigrationDetentionResponse"}}}}}}},"/court-case/{courtCaseUuid}":{"get":{"tags":["court-case-controller"],"summary":"Retrieve court case details","description":"This endpoint will retrieve court case details","operationId":"getCourtCaseDetails","parameters":[{"name":"courtCaseUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns court case details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtCase"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtCase"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtCase"}}}},"404":{"description":"Not found if no court case at uuid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtCase"}}}}}},"put":{"tags":["court-case-controller"],"summary":"Create Court case","description":"This endpoint will create a court case","operationId":"putCourtCase","parameters":[{"name":"courtCaseUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCourtCase"}}},"required":true},"responses":{"201":{"description":"Returns court case UUID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCourtCaseResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCourtCaseResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCourtCaseResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCourtCaseResponse"}}}}}}},"/court-case/{courtCaseUuid}/case-references/refresh":{"put":{"tags":["court-case-controller"],"summary":"Refresh case references","description":"This endpoint will refresh case references","operationId":"refreshCaseReferences_1","parameters":[{"name":"courtCaseUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtCaseLegacyData"}}},"required":true},"responses":{"204":{"description":"No content"},"401":{"description":"Unauthorised, requires a valid Oauth2 token"},"403":{"description":"Forbidden, requires an appropriate role"}}}},"/court-appearance/{appearanceUuid}":{"get":{"tags":["court-appearance-controller"],"summary":"Retrieve court appearance details","description":"This endpoint will retrieve court appearance details","operationId":"getCourtAppearanceDetails","parameters":[{"name":"appearanceUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Returns court appearance details","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourtAppearance"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourtAppearance"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourtAppearance"}}}},"404":{"description":"Not found if no court appearance at uuid","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourtAppearance"}}}}}},"put":{"tags":["court-appearance-controller"],"summary":"Create Court appearance","description":"This endpoint will create a court appearance in a given court case","operationId":"updateCourtAppearance","parameters":[{"name":"appearanceUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCourtAppearance"}}},"required":true},"responses":{"200":{"description":"Returns court case UUID","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateCourtAppearanceResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateCourtAppearanceResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateCourtAppearanceResponse"}}}}}},"delete":{"tags":["court-appearance-controller"],"summary":"Delete Court appearance","description":"This endpoint will delete a court appearance in a given court case","operationId":"deleteCourtAppearance","parameters":[{"name":"appearanceUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Court appearance deleted successfully"},"401":{"description":"Unauthorised, requires a valid Oauth2 token"},"403":{"description":"Forbidden, requires an appropriate role"},"404":{"description":"Not found if no court appearance at uuid"}}}},"/charge/{chargeUuid}":{"get":{"tags":["charge-controller"],"summary":"Retrieve charge details","description":"This endpoint will retrieve charge details","operationId":"getChargeDetails","parameters":[{"name":"chargeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Returns charge details","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Charge"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Charge"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Charge"}}}},"404":{"description":"Not found if no charge at uuid","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Charge"}}}}}},"put":{"tags":["charge-controller"],"summary":"Create/ Update Charge","description":"This endpoint will create/ update a charge in a given court appearance","operationId":"updateCharge","parameters":[{"name":"chargeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCharge"}}},"required":true},"responses":{"200":{"description":"Returns charge UUID","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateChargeResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateChargeResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateChargeResponse"}}}}}}},"/uploaded-documents":{"post":{"tags":["uploaded-documents-controller"],"summary":"Creates an uploaded document entry","description":"Creates an uploaded document entry","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUploadedDocument"}}},"required":true},"responses":{"201":{"description":"uploaded document created"},"401":{"description":"Unauthorised, requires a valid Oauth2 token"},"403":{"description":"Forbidden, requires an appropriate role"}}}},"/sentence/consecutive-chain/has-a-loop":{"post":{"tags":["sentence-controller"],"summary":"Check whether a target sentence is already in a consecutive chain from a source sentence","description":"Returns true if the target sentence already appears in any consecutive chain (i.e. a would cause a loop)","operationId":"hasLoopInChain","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsecutiveChainValidationRequest"}}},"required":true},"responses":{"200":{"description":"Returns true or false","content":{"*/*":{"schema":{"type":"boolean"}}}},"400":{"description":"Invalid input","content":{"*/*":{"schema":{"type":"boolean"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"boolean"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/recall":{"post":{"tags":["recall-controller"],"summary":"Create a recall","description":"This endpoint will create a recall","operationId":"createRecall","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRecall"}}},"required":true},"responses":{"201":{"description":"Returns recall UUID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveRecallResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveRecallResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveRecallResponse"}}}}}}},"/recall/is-possible":{"post":{"tags":["recall-controller"],"summary":"Check if recall is possible","description":"check if recall is possible for given sentneces and recall type","operationId":"isRecallPossible","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IsRecallPossibleRequest"}}},"required":true},"responses":{"200":{"description":"Returns if recall is possible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IsRecallPossibleResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IsRecallPossibleResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IsRecallPossibleResponse"}}}}}}},"/legacy/sentence":{"post":{"tags":["legacy-sentence-controller"],"summary":"Create a sentence","description":"Synchronise a creation of sentence from NOMIS Offender sentences into remand and sentencing API.","operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCreateSentence"}}},"required":true},"responses":{"201":{"description":"sentence created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacySentenceCreatedResponse"}}}},"422":{"description":"Unprocessable entity, charge must not be already sentenced","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacySentenceCreatedResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacySentenceCreatedResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacySentenceCreatedResponse"}}}}}}},"/legacy/sentence/search":{"post":{"tags":["legacy-sentence-controller"],"summary":"Search for multiple sentences","description":"This endpoint will retrieve multiple sentences by search parameters.","operationId":"search","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacySearchSentence"}}},"required":true},"responses":{"200":{"description":"Returns matching sentence details","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LegacySentence"}}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LegacySentence"}}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LegacySentence"}}}}}}}},"/legacy/period-length":{"post":{"tags":["legacy-period-length-controller"],"summary":"Creates one or more period lengths for a single sentence","description":"Creates one or more period lengths for a single sentence","operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCreatePeriodLength"}}},"required":true},"responses":{"201":{"description":"period length created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyPeriodLengthCreatedResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyPeriodLengthCreatedResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyPeriodLengthCreatedResponse"}}}}}}},"/legacy/court-case":{"post":{"tags":["legacy-court-case-controller"],"summary":"Create a court case","description":"Synchronise a creation of court case from NOMIS into remand and sentencing API.","operationId":"create_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCreateCourtCase"}}},"required":true},"responses":{"201":{"description":"court case created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCourtCaseCreatedResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCourtCaseCreatedResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCourtCaseCreatedResponse"}}}}}}},"/legacy/court-case/migration":{"post":{"tags":["migration-controller"],"summary":"Migrates court cases","description":"Migrates a court case, court appearance and charge from NOMIS into remand and sentencing API.","operationId":"create_4","parameters":[{"name":"deleteExisting","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MigrationCreateCourtCases"}}},"required":true},"responses":{"201":{"description":"court case created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MigrationCreateCourtCasesResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MigrationCreateCourtCasesResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MigrationCreateCourtCasesResponse"}}}}}}},"/legacy/court-case/merge/person/{retainedPrisonerNumber}":{"post":{"tags":["prisoner-merge-controller"],"summary":"Merge prisoner","description":"Merges all records between two prisoner numbers","operationId":"process","parameters":[{"name":"retainedPrisonerNumber","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MergePerson"}}},"required":true},"responses":{"201":{"description":"court case created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MergeCreateCourtCasesResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MergeCreateCourtCasesResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MergeCreateCourtCasesResponse"}}}}}}},"/legacy/court-case/booking":{"post":{"tags":["booking-controller"],"summary":"Creates court cases for specific booking","description":"Creates all entities for specific bookings. This is when something is created on an old booking and the record is copied over to the latest booking so duplicate records need creating.","operationId":"create_5","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingCreateCourtCases"}}},"required":true},"responses":{"201":{"description":"court case created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingCreateCourtCasesResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingCreateCourtCasesResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingCreateCourtCasesResponse"}}}}}}},"/legacy/court-appearance":{"post":{"tags":["legacy-court-appearance-controller"],"summary":"Create a court appearance","description":"Synchronise a creation of court appearance from NOMIS court events into remand and sentencing API.","operationId":"create_6","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCreateCourtAppearance"}}},"required":true},"responses":{"201":{"description":"court appearance created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCourtAppearanceCreatedResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCourtAppearanceCreatedResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCourtAppearanceCreatedResponse"}}}}}}},"/legacy/charge":{"post":{"tags":["legacy-charge-controller"],"summary":"Create a charge","description":"Synchronise a creation of charge from NOMIS Offender charges into remand and sentencing API.","operationId":"create_7","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCreateCharge"}}},"required":true},"responses":{"201":{"description":"charge created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyChargeCreatedResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyChargeCreatedResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyChargeCreatedResponse"}}}}}}},"/immigration-detention":{"post":{"tags":["immigration-detention-controller"],"summary":"Create an immigration detention record","description":"This endpoint will create a record for managing immigration detention","operationId":"createImmigrationDetention","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateImmigrationDetention"}}},"required":true},"responses":{"201":{"description":"Returns immigration detention record UUID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveImmigrationDetentionResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveImmigrationDetentionResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveImmigrationDetentionResponse"}}}}}}},"/court-case":{"post":{"tags":["court-case-controller"],"summary":"Create Court case","description":"This endpoint will create a court case","operationId":"createCourtCase","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCourtCase"}}},"required":true},"responses":{"201":{"description":"Returns court case UUID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCourtCaseResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCourtCaseResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCourtCaseResponse"}}}}}}},"/court-case/{courtCaseUuid}/sentences/update-types":{"post":{"tags":["sentence-type-update-controller"],"summary":"Update sentence types for unknown pre-recall sentences","description":"This endpoint updates the sentence types for sentences that are currently marked as 'unknown pre-recall sentence'. All updates are performed atomically - if any update fails, all changes are rolled back.","operationId":"updateSentenceTypes","parameters":[{"name":"courtCaseUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSentenceTypeRequest"}}},"required":true},"responses":{"200":{"description":"All sentence types successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSentenceTypeResponse"}}}},"400":{"description":"Invalid request (invalid sentence type, missing fields)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSentenceTypeResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSentenceTypeResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSentenceTypeResponse"}}}},"404":{"description":"Court case or sentence not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSentenceTypeResponse"}}}},"422":{"description":"Business rule violation (e.g., sentence not in 'unknown pre-recall sentence' state)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSentenceTypeResponse"}}}}}}},"/court-appearance":{"post":{"tags":["court-appearance-controller"],"summary":"Create Court appearance","description":"This endpoint will create a court appearance in a given court case","operationId":"createCourtAppearance","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCourtAppearance"}}},"required":true},"responses":{"201":{"description":"Returns court case UUID","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateCourtAppearanceResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateCourtAppearanceResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateCourtAppearanceResponse"}}}}}}},"/sentence/{sentenceUuid}":{"get":{"tags":["sentence-controller"],"summary":"Retrieve sentence information","description":"This endpoint will retrieve sentence information","operationId":"getSentence","parameters":[{"name":"sentenceUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Returns sentence information","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Sentence"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Sentence"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Sentence"}}}},"404":{"description":"Not found if no sentence at uuid","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Sentence"}}}}}}},"/sentence/{sentenceUuid}/details":{"get":{"tags":["sentence-controller"],"operationId":"getSentenceDetails","parameters":[{"name":"sentenceUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SentenceDetails"}}}}}}},"/sentence/unknown-recall-type":{"get":{"tags":["sentence-controller"],"summary":"Returns a list of sentences with the unknown recall type grouped by appearance","description":"Returns a list of sentences with the unknown recall type grouped by appearance","operationId":"getSentencesWithUnknownRecallType","parameters":[{"name":"sentenceUuids","in":"query","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}],"responses":{"200":{"description":"Returns a list of sentences with an unknown recall type grouped by appearance","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MissingSentenceAppearance"}}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MissingSentenceAppearance"}}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MissingSentenceAppearance"}}}}}}}},"/sentence/sentences-after-on-other-court-appearance-details":{"get":{"tags":["sentence-controller"],"summary":"Sentences after on other court appearance details","description":"This endpoint will return details of the court appearances of sentences after this sentence","operationId":"sentencesAfterOnOtherCourtAppearanceDetails","parameters":[{"name":"sentenceUuids","in":"query","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}],"responses":{"200":{"description":"Returns true or false","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SentencesAfterOnOtherCourtAppearanceDetailsResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SentencesAfterOnOtherCourtAppearanceDetailsResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SentencesAfterOnOtherCourtAppearanceDetailsResponse"}}}}}}},"/sentence/has-sentences/{prisonerId}":{"get":{"tags":["sentence-controller"],"summary":"Check if prisoner has any sentences (non-deleted)","description":"Returns true if the prisoner has at least one sentence, could be on any Court Case","operationId":"hasSentences","parameters":[{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns true or false","content":{"*/*":{"schema":{"type":"boolean"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"*/*":{"schema":{"type":"boolean"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/sentence/has-sentences-after-on-other-court-appearance":{"get":{"tags":["sentence-controller"],"summary":"Any sentences after on another appearance","description":"This endpoint will return true if any other sentence has a consecutive to link to the sentence at sentenceUuid that is on a different court appearance","operationId":"hasSentencesAfterOnOtherCase","parameters":[{"name":"sentenceUuids","in":"query","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}],"responses":{"200":{"description":"Returns true or false","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HasSentenceAfterOnOtherCourtAppearanceResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HasSentenceAfterOnOtherCourtAppearanceResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HasSentenceAfterOnOtherCourtAppearanceResponse"}}}}}}},"/sentence/consecutive-to-details":{"get":{"tags":["sentence-controller"],"summary":"Retrieve sentence consecutive to details","description":"This endpoint will retrieve consecutive to sentence details","operationId":"getConsecutiveToSentenceDetails","parameters":[{"name":"sentenceUuids","in":"query","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}],"responses":{"200":{"description":"Returns consecutive to sentence details","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SentenceConsecutiveToDetailsResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SentenceConsecutiveToDetailsResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SentenceConsecutiveToDetailsResponse"}}}}}}},"/sentence-type/{sentenceTypeUuid}":{"get":{"tags":["sentence-type-controller"],"summary":"Get Sentence type by UUID","description":"This endpoint will retrieve sentence type by UUID","operationId":"getSentenceTypeByUuid","parameters":[{"name":"sentenceTypeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Returns sentence","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentenceType"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentenceType"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentenceType"}}}},"404":{"description":"Not found if no sentence type at uuid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentenceType"}}}}}}},"/sentence-type/{sentenceTypeUuid}/is-still-valid":{"get":{"tags":["sentence-type-controller"],"summary":"Check the sentence type is still valid","description":"This endpoint will determine if the sentence type is still valid with the age, conviction date, statuses, offence date parameters","operationId":"sentenceTypeStillValid","parameters":[{"name":"sentenceTypeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"age","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"convictionDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"statuses","in":"query","required":false,"schema":{"type":"array","default":["ACTIVE"],"items":{"type":"string","enum":["ACTIVE","INACTIVE"]}}},{"name":"offenceDate","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Returns whether the sentence type is still valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentenceTypeIsValid"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentenceTypeIsValid"}}}}}}},"/sentence-type/uuid/multiple":{"get":{"tags":["sentence-type-controller"],"summary":"get all sentence types by uuids","description":"This endpoint will get all sentence types by uuids","operationId":"getSentenceTypesByIds","parameters":[{"name":"uuids","in":"query","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}],"responses":{"200":{"description":"Returns sentence types","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SentenceType"}}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SentenceType"}}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SentenceType"}}}}}}}},"/sentence-type/search":{"get":{"tags":["sentence-type-controller"],"summary":"Search all sentence types","description":"This endpoint will search all sentence types","operationId":"searchSentenceTypes","parameters":[{"name":"age","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"convictionDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"statuses","in":"query","required":false,"schema":{"type":"array","default":["ACTIVE"],"items":{"type":"string","enum":["ACTIVE","INACTIVE"]}}},{"name":"offenceDate","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Returns sentence types","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SentenceType"}}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SentenceType"}}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SentenceType"}}}}}}}},"/recall/person/{prisonerId}":{"get":{"tags":["recall-controller"],"summary":"Retrieve all recalls for a person","description":"This endpoint will retrieve  all recalls for a person","operationId":"getRecallsByPrisonerId","parameters":[{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns all recalls for person","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Recall"}}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Recall"}}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Recall"}}}}}}}},"/queue-admin/get-dlq-messages/{dlqName}":{"get":{"tags":["hmpps-queue-resource"],"operationId":"getDlqMessages","parameters":[{"name":"dlqName","in":"path","required":true,"schema":{"type":"string"}},{"name":"maxMessages","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":100}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetDlqResult"}}}}}}},"/person/{prisonerId}":{"get":{"tags":["person-controller"],"summary":"Retrieve person details","description":"This endpoint will retrieve person details","operationId":"getPersonDetails","parameters":[{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns person details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonDetails"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonDetails"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonDetails"}}}}}}},"/person/{prisonerId}/sentences-to-chain-to":{"get":{"tags":["person-controller"],"summary":"retrieve all sentences to chain to","description":"This endpoint will retrieve all sentences which can be used in a consecutive to chain","operationId":"sentencesToChainTo","parameters":[{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"beforeOrOnAppearanceDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"bookingId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns all sentences for a consecutive to chain","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentencesToChainToResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentencesToChainToResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentencesToChainToResponse"}}}}}}},"/person/{prisonerId}/sentenced-court-cases":{"get":{"tags":["person-controller"],"summary":"Retrieve all sentenced court cases for prisoner","description":"This endpoint will retrieve all sentenced court cases for prisoner","operationId":"getSentencedCourtCases","parameters":[{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns sentenced court cases","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtCases"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtCases"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtCases"}}}}}}},"/person/{prisonerId}/sentence-envelopes":{"get":{"tags":["person-controller"],"operationId":"allSentenceEnvelopes","parameters":[{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrisonerSentenceEnvelopes"}}}}}}},"/person/{prisonerId}/has-sentence-to-chain-to":{"get":{"tags":["person-controller"],"summary":"Determine if there can be a sentence to chain to","description":"This endpoint will determine whether there can be a sentence which can be selected for a consecutive to chain","operationId":"hasSentenceToChainTo","parameters":[{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"beforeOrOnAppearanceDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"bookingId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns whether there is a sentence for a consecutive to chain","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HasSentenceToChainToResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HasSentenceToChainToResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HasSentenceToChainToResponse"}}}}}}},"/person/{prisonerId}/documents":{"get":{"tags":["person-controller"],"operationId":"allDocuments","parameters":[{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"searchDocuments","in":"query","required":true,"schema":{"$ref":"#/components/schemas/SearchDocuments"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrisonerDocuments"}}}}}}},"/legacy/sentence-type/summary":{"get":{"tags":["sentence-type-controller"],"summary":"Get historic NOMIS sentence type by nomis sentence type reference","description":"Returns historic NOMIS sentence type information for the specified type in a summary format","operationId":"getLegacySentenceTypeSummary","parameters":[{"name":"nomisSentenceTypeReference","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns historic NOMIS sentence type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacySentenceTypeGroupingSummary"}}}},"401":{"description":"Unauthorised, requires a valid OAuth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacySentenceTypeGroupingSummary"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacySentenceTypeGroupingSummary"}}}},"404":{"description":"Not found if no sentence type at given NOMIS type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacySentenceTypeGroupingSummary"}}}}}}},"/legacy/sentence-type/all":{"get":{"tags":["sentence-type-controller"],"summary":"Get all historic NOMIS sentence types","description":"Returns a set of historic NOMIS sentence type information in a detailed format","operationId":"getLegacyAllSentenceTypes","responses":{"200":{"description":"Returns historic NOMIS sentence type","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LegacySentenceType"}}}}},"401":{"description":"Unauthorised, requires a valid OAuth2 token","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LegacySentenceType"}}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LegacySentenceType"}}}}},"404":{"description":"Not found if no sentence type at given NOMIS type","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LegacySentenceType"}}}}}}}},"/legacy/sentence-type/all/summary":{"get":{"tags":["sentence-type-controller"],"summary":"Get summary of all historic NOMIS sentence types","description":"Returns a set of historic NOMIS sentence type information in a summary format","operationId":"getLegacyAllSentenceTypesSummaries","responses":{"200":{"description":"Returns historic NOMIS sentence type","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LegacySentenceTypeGroupingSummary"}}}}},"401":{"description":"Unauthorised, requires a valid OAuth2 token","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LegacySentenceTypeGroupingSummary"}}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LegacySentenceTypeGroupingSummary"}}}}},"404":{"description":"Not found if no sentence type at given NOMIS type","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LegacySentenceTypeGroupingSummary"}}}}}}}},"/legacy/sentence-type/":{"get":{"tags":["sentence-type-controller"],"summary":"Get historic NOMIS sentence type by nomis sentence type reference","description":"Returns historic NOMIS sentence type information for the specified type in a detailed format","operationId":"getLegacySentenceType","parameters":[{"name":"nomisSentenceTypeReference","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns historic NOMIS sentence type","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LegacySentenceType"}}}}},"401":{"description":"Unauthorised, requires a valid OAuth2 token","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LegacySentenceType"}}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LegacySentenceType"}}}}},"404":{"description":"Not found if no sentence type at given NOMIS type","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LegacySentenceType"}}}}}}}},"/legacy/recall/{uuid}":{"get":{"tags":["legacy-recall-controller"],"summary":"retrieve a recall","description":"This endpoint will retrieve legacy recall details.","operationId":"get_5","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Returns recall details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyRecall"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyRecall"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyRecall"}}}}}}},"/legacy/prisoner/{prisonerId}/court-case-uuids":{"get":{"tags":["legacy-prisoner-controller"],"summary":"retrieve all court case uuids","description":"This endpoint will retrieve all court case uuids","operationId":"getCourtCaseUuids","parameters":[{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns court case uuids","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCourtCaseUuids"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCourtCaseUuids"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyCourtCaseUuids"}}}}}}},"/legacy/court-case/{courtCaseUuid}/reconciliation":{"get":{"tags":["legacy-court-case-controller"],"summary":"Retrieve court case details for reconciliation","description":"This endpoint will retrieve court case details for reconciliation","operationId":"getReconciliation","parameters":[{"name":"courtCaseUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns court case details for reconciliation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReconciliationCourtCase"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReconciliationCourtCase"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReconciliationCourtCase"}}}},"404":{"description":"Not found if no court case at uuid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReconciliationCourtCase"}}}}}}},"/immigration-detention/person/{prisonerId}":{"get":{"tags":["immigration-detention-controller"],"summary":"Retrieve all active immigration detention records for a person","description":"This endpoint will retrieve  all active immigration detention records for a person","operationId":"getImmigrationDetentionByPrisonerId","parameters":[{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns all active immigration detention records for person","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ImmigrationDetention"}}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ImmigrationDetention"}}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ImmigrationDetention"}}}}}}}},"/immigration-detention/person/{prisonerId}/latest":{"get":{"tags":["immigration-detention-controller"],"summary":"Retrieve the last active record for the prisoner, sorted by created date descending","description":"This endpoint will retrieve the last active immigration detention record for the prisoner, sorted by created date descending","operationId":"getLatestImmigrationDetentionByPrisonerId","parameters":[{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns all active immigration detention records for person","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImmigrationDetention"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImmigrationDetention"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImmigrationDetention"}}}},"404":{"description":"No active records found for this person","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImmigrationDetention"}}}}}}},"/court-case/{prisonerId}/recallable-court-cases":{"get":{"tags":["court-case-controller"],"summary":"Retrieve recallable court cases for a prisoner","description":"This endpoint returns filtered court cases optimised for recall processing workflows. Only includes ACTIVE cases with SENTENCING warrant type that have sentences.","operationId":"getRecallableCourtCases","parameters":[{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"date"}},{"name":"sortOrder","in":"query","required":false,"schema":{"type":"string","default":"desc"}}],"responses":{"200":{"description":"Returns recallable court cases","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecallableCourtCasesResponse"}}}},"400":{"description":"Bad request - invalid prisoner ID format or query parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecallableCourtCasesResponse"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecallableCourtCasesResponse"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecallableCourtCasesResponse"}}}},"404":{"description":"Prisoner not found in system","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecallableCourtCasesResponse"}}}}}}},"/court-case/{courtCaseUuid}/validation-dates":{"get":{"tags":["court-case-controller"],"summary":"Retrieve all dates to be used in validation","description":"\n      This endpoint returns the most recent offence start or end date across all appearances and charges for a given court case.  \n      This endpoint also returns the latest remand appearance date for a given court case.\n      Optionally, the result can exclude offences tied to a specific court appearance, used when editing a court appearance in the UI (the latest version of the offence dates are in the UI session).\n      ","operationId":"getValidationDates","parameters":[{"name":"courtCaseUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"appearanceUuidToExclude","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtCaseValidationDate"}}}}}}},"/court-case/{courtCaseUuid}/latest-offence-date":{"get":{"tags":["court-case-controller"],"summary":"Retrieve the latest offence date for a court case (checks both offence start and end dates)","description":"\n      This endpoint returns the most recent offence start or end date across all appearances and charges for a given court case.     \n      Optionally, the result can exclude offences tied to a specific court appearance, used when editing a court appearance in the UI (the latest version of the offence dates are in the UI session).\n      ","operationId":"getLatestOffenceDate","parameters":[{"name":"courtCaseUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"appearanceUuidToExclude","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns the latest offence date","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LatestOffenceDate"}}}},"204":{"description":"No offence dates found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LatestOffenceDate"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LatestOffenceDate"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LatestOffenceDate"}}}}}}},"/court-case/{courtCaseUuid}/latest-appearance":{"get":{"tags":["court-case-controller"],"summary":"Retrieve latest court appearance of court case","description":"This endpoint will retrieve latest court appearance of court case","operationId":"getLatestAppearanceDetails","parameters":[{"name":"courtCaseUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns latest appearance details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtAppearance"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtAppearance"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtAppearance"}}}},"404":{"description":"Not found if no court case at uuid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtAppearance"}}}}}}},"/court-case/{courtCaseUuid}/count-numbers":{"get":{"tags":["court-case-controller"],"summary":"Retrieve count numbers for case","description":"This endpoint will retrieve all unique count numbers for a case","operationId":"getAllCountNumbers","parameters":[{"name":"courtCaseUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns all count numbers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtCaseCountNumbers"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtCaseCountNumbers"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtCaseCountNumbers"}}}}}}},"/court-case/search":{"get":{"tags":["court-case-controller"],"summary":"Retrieve all court cases for person (where each court case has at least one appearance in the past)","description":"This endpoint will retrieve all court cases for a person (where each court case has at least one appearance in the past - i.e. there exists a latest court appearance)","operationId":"searchCourtCases","parameters":[{"name":"prisonerId","in":"query","required":true,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"Returns court cases","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageCourtCase"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageCourtCase"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageCourtCase"}}}}}}},"/court-case/paged/search":{"get":{"tags":["court-case-controller"],"summary":"Retrieve all court cases for person (where each court case has at least one appearance in the past)","description":"This endpoint will retrieve all court cases for a person (where each court case has at least one appearance in the past - i.e. there exists a latest court appearance)","operationId":"pagedSearchCourtCases","parameters":[{"name":"prisonerId","in":"query","required":true,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"name":"pagedCourtCaseOrderBy","in":"query","required":false,"schema":{"type":"string","default":"STATUS_APPEARANCE_DATE_DESC","enum":["STATUS_APPEARANCE_DATE_DESC","APPEARANCE_DATE_ASC","APPEARANCE_DATE_DESC"]}}],"responses":{"200":{"description":"Returns court cases","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagePagedCourtCase"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagePagedCourtCase"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagePagedCourtCase"}}}}}}},"/charge-outcome/{outcomeUuid}":{"get":{"tags":["charge-outcome-controller"],"summary":"Get charge outcome by UUID","description":"This endpoint will retrieve charge outcome by UUID","operationId":"getChargeOutcomeByUuid","parameters":[{"name":"outcomeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Returns charge outcome","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeOutcome"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeOutcome"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeOutcome"}}}},"404":{"description":"Not found if no charge outcome at uuid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeOutcome"}}}}}}},"/charge-outcome/uuid/multiple":{"get":{"tags":["charge-outcome-controller"],"summary":"get all charge outcomes by uuids","description":"This endpoint will get all charge outcomes by uuids","operationId":"getChargeOutcomesByIds","parameters":[{"name":"uuids","in":"query","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}],"responses":{"200":{"description":"Returns charge outcomes","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChargeOutcome"}}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChargeOutcome"}}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChargeOutcome"}}}}}}}},"/charge-outcome/status":{"get":{"tags":["charge-outcome-controller"],"summary":"Get all charge outcomes by statuses","description":"This endpoint will get all charge outcomes by statuses","operationId":"getAllChargeOutcomes","parameters":[{"name":"statuses","in":"query","required":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","INACTIVE"]}}}],"responses":{"200":{"description":"Returns charge outcomes","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChargeOutcome"}}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChargeOutcome"}}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChargeOutcome"}}}}}}}},"/appearance-type/{appearanceTypeUuid}":{"get":{"tags":["appearance-type-controller"],"summary":"Get appearance type by uuid","description":"This endpoint will get appearance type by uuid","operationId":"getAppearanceTypeById","parameters":[{"name":"appearanceTypeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Returns appearance type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppearanceType"}}}},"404":{"description":"Appearance type not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppearanceType"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppearanceType"}}}}}}},"/appearance-type/status":{"get":{"tags":["appearance-type-controller"],"summary":"Get all appearance types by statuses","description":"This endpoint will get all appearance types by statuses","operationId":"getAllAppearanceTypes","parameters":[{"name":"statuses","in":"query","required":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","INACTIVE"]}}}],"responses":{"200":{"description":"Returns appearance types","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AppearanceType"}}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AppearanceType"}}}}}}}},"/appearance-outcome/{outcomeUuid}":{"get":{"tags":["appearance-outcome-controller"],"summary":"Get appearance outcome by UUID","description":"This endpoint will retrieve appearance outcome by UUID","operationId":"getAppearanceOutcomeByUuid","parameters":[{"name":"outcomeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Returns appearance outcome","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtAppearanceOutcome"}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtAppearanceOutcome"}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtAppearanceOutcome"}}}},"404":{"description":"Not found if no appearance outcome at uuid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtAppearanceOutcome"}}}}}}},"/appearance-outcome/status":{"get":{"tags":["appearance-outcome-controller"],"summary":"Get all appearance outcomes by status","description":"This endpoint will get all appearance outcomes by status","operationId":"getAllAppearanceOutcomes","parameters":[{"name":"statuses","in":"query","required":true,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","INACTIVE"]}}}],"responses":{"200":{"description":"Returns appearance outcomes","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CourtAppearanceOutcome"}}}}},"401":{"description":"Unauthorised, requires a valid Oauth2 token","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CourtAppearanceOutcome"}}}}},"403":{"description":"Forbidden, requires an appropriate role","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CourtAppearanceOutcome"}}}}}}}},"/legacy/charge/{chargeUuid}":{"delete":{"tags":["legacy-charge-controller"],"summary":"Delete Charge","description":"Synchronise a deletion of charge from NOMIS offender charges into remand and sentencing API.","operationId":"delete_4","parameters":[{"name":"chargeUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"performedByUser","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorised, requires a valid Oauth2 token"},"403":{"description":"Forbidden, requires an appropriate role"},"204":{"description":"No Content"}}}},"/document-admin/cleanup":{"delete":{"tags":["document-admin-controller"],"summary":"Deletes uploaded documents without an appearance ID","description":"Deletes all uploaded documents where the appearance ID is null","operationId":"cleanupDocument","responses":{"200":{"description":"Cleanup completed"}}}}},"components":{"schemas":{"CreateRecall":{"type":"object","properties":{"prisonerId":{"type":"string"},"revocationDate":{"type":"string","format":"date"},"returnToCustodyDate":{"type":"string","format":"date"},"inPrisonOnRevocationDate":{"type":"boolean"},"recallTypeCode":{"type":"string","enum":["LR","FTR_14","FTR_28","FTR_56","FTR_HDC_14","FTR_HDC_28","CUR_HDC","IN_HDC"]},"createdByUsername":{"type":"string"},"createdByPrison":{"type":"string"},"sentenceIds":{"type":"array","items":{"type":"string","format":"uuid"}},"calculationRequestId":{"type":"integer","format":"int32"}},"required":["createdByPrison","createdByUsername","prisonerId","recallTypeCode","revocationDate"]},"SaveRecallResponse":{"type":"object","properties":{"recallUuid":{"type":"string","format":"uuid"}},"required":["recallUuid"]},"RetryDlqResult":{"type":"object","properties":{"messagesFoundCount":{"type":"integer","format":"int32"}},"required":["messagesFoundCount"]},"PurgeQueueResult":{"type":"object","properties":{"messagesFoundCount":{"type":"integer","format":"int32"}},"required":["messagesFoundCount"]},"LegacyCreateFine":{"type":"object","properties":{"fineAmount":{"type":"number"}},"required":["fineAmount"]},"LegacyCreateSentence":{"type":"object","properties":{"chargeUuids":{"type":"array","items":{"type":"string","format":"uuid"}},"appearanceUuid":{"type":"string","format":"uuid"},"fine":{"$ref":"#/components/schemas/LegacyCreateFine"},"consecutiveToLifetimeUuid":{"type":"string","format":"uuid"},"active":{"type":"boolean"},"legacyData":{"$ref":"#/components/schemas/SentenceLegacyData"},"returnToCustodyDate":{"type":"string","format":"date"},"performedByUser":{"type":"string"}},"required":["active","appearanceUuid","chargeUuids","legacyData"]},"SentenceLegacyData":{"type":"object","properties":{"sentenceCalcType":{"type":"string"},"sentenceCategory":{"type":"string"},"sentenceTypeDesc":{"type":"string"},"postedDate":{"type":"string"},"active":{"type":"boolean"},"nomisLineReference":{"type":"string"},"bookingId":{"type":"integer","format":"int64"}},"required":["postedDate"]},"LegacyCreatePeriodLength":{"type":"object","description":"Used for creating or updating period length records (aka sentence-terms in NOMIS).","properties":{"sentenceUuid":{"type":"string","format":"uuid"},"periodYears":{"type":"integer","format":"int32"},"periodMonths":{"type":"integer","format":"int32"},"periodWeeks":{"type":"integer","format":"int32"},"periodDays":{"type":"integer","format":"int32"},"legacyData":{"$ref":"#/components/schemas/PeriodLengthLegacyData"},"performedByUser":{"type":"string"}},"required":["legacyData","sentenceUuid"]},"PeriodLengthLegacyData":{"type":"object","properties":{"lifeSentence":{"type":"boolean"},"sentenceTermCode":{"type":"string"},"sentenceTermDescription":{"type":"string"}}},"LegacyUnlinkCase":{"type":"object","properties":{"performedByUser":{"type":"string"}}},"EventMetadata":{"type":"object","properties":{"prisonerId":{"type":"string"},"courtCaseId":{"type":"string"},"courtAppearanceId":{"type":"string"},"chargeId":{"type":"string"},"sentenceId":{"type":"string"},"recallId":{"type":"string"},"eventType":{"type":"string","enum":["COURT_CASE_INSERTED","COURT_CASE_UPDATED","CHARGE_INSERTED","CHARGE_UPDATED","COURT_APPEARANCE_INSERTED","COURT_APPEARANCE_UPDATED","SENTENCE_INSERTED","SENTENCE_FIX_SINGLE_CHARGE_INSERTED","SENTENCE_UPDATED","LEGACY_COURT_CASE_REFERENCES_UPDATED","RECALL_INSERTED","RECALL_UPDATED","PERIOD_LENGTH_INSERTED","PERIOD_LENGTH_UPDATED","PERIOD_LENGTH_DELETED","RECALL_DELETED","SENTENCE_DELETED","CHARGE_DELETED","COURT_APPEARANCE_DELETED","COURT_CASE_DELETED","METADATA_ONLY"]},"periodLengthId":{"type":"string"},"sentenceIds":{"type":"array","items":{"type":"string"}},"previousRecallId":{"type":"string"},"previousSentenceIds":{"type":"array","items":{"type":"string"}},"originalSentenceId":{"type":"string"}},"required":["eventType","prisonerId"]},"UnlinkEventsToEmit":{"type":"object","properties":{"courtCaseEventMetadata":{"$ref":"#/components/schemas/EventMetadata"},"chargesEventMetadata":{"type":"array","items":{"$ref":"#/components/schemas/EventMetadata"}}},"required":["chargesEventMetadata"]},"LegacyLinkCase":{"type":"object","properties":{"linkedDate":{"type":"string","format":"date"},"performedByUser":{"type":"string"}}},"PairStringString":{"type":"object","properties":{"first":{"type":"string"},"second":{"type":"string"}},"required":["first","second"]},"CaseReferenceLegacyData":{"type":"object","properties":{"offenderCaseReference":{"type":"string"},"updatedDate":{"type":"string","format":"date-time"},"source":{"type":"string","enum":["NOMIS","DPS"]}},"required":["offenderCaseReference","updatedDate"]},"CourtCaseLegacyData":{"type":"object","properties":{"caseReferences":{"type":"array","items":{"$ref":"#/components/schemas/CaseReferenceLegacyData"}},"bookingId":{"type":"integer","format":"int64"}},"required":["caseReferences"]},"LegacyCreateCourtCase":{"type":"object","properties":{"prisonerId":{"type":"string"},"active":{"type":"boolean"},"legacyData":{"$ref":"#/components/schemas/CourtCaseLegacyData"},"bookingId":{"type":"integer","format":"int64"},"performedByUser":{"type":"string"}},"required":["active","legacyData","prisonerId"]},"RefreshCaseReferences":{"type":"object","properties":{"caseReferences":{"type":"array","items":{"$ref":"#/components/schemas/CaseReferenceLegacyData"}},"performedByUser":{"type":"string"}},"required":["caseReferences"]},"CourtAppearanceLegacyData":{"type":"object","properties":{"postedDate":{"type":"string"},"nomisOutcomeCode":{"type":"string"},"outcomeDescription":{"type":"string"},"nextEventDateTime":{"type":"string","format":"date-time"},"appearanceTime":{"type":"string","example":"10:59:56.94007956"},"outcomeDispositionCode":{"type":"string"},"outcomeConvictionFlag":{"type":"boolean"}}},"LegacyCreateCourtAppearance":{"type":"object","properties":{"courtCaseUuid":{"type":"string"},"courtCode":{"type":"string"},"appearanceDate":{"type":"string","format":"date"},"legacyData":{"$ref":"#/components/schemas/CourtAppearanceLegacyData"},"appearanceTypeUuid":{"type":"string","format":"uuid"},"performedByUser":{"type":"string"}},"required":["appearanceDate","appearanceTypeUuid","courtCaseUuid","courtCode","legacyData"]},"ChargeLegacyData":{"type":"object","properties":{"postedDate":{"type":"string"},"nomisOutcomeCode":{"type":"string"},"outcomeDescription":{"type":"string"},"outcomeDispositionCode":{"type":"string"},"outcomeConvictionFlag":{"type":"boolean"},"offenceDescription":{"type":"string"}}},"LegacyUpdateCharge":{"type":"object","properties":{"offenceStartDate":{"type":"string","format":"date"},"offenceEndDate":{"type":"string","format":"date"},"legacyData":{"$ref":"#/components/schemas/ChargeLegacyData"},"performedByUser":{"type":"string"}},"required":["legacyData"]},"LegacyLinkChargeToCase":{"type":"object","properties":{"sourceCourtCaseUuid":{"type":"string"},"linkedDate":{"type":"string","format":"date"},"performedByUser":{"type":"string"}},"required":["linkedDate","sourceCourtCaseUuid"]},"LegacyChargeCreatedResponse":{"type":"object","properties":{"lifetimeUuid":{"type":"string","format":"uuid"},"courtCaseUuid":{"type":"string"},"prisonerId":{"type":"string"}},"required":["courtCaseUuid","lifetimeUuid","prisonerId"]},"PairEntityChangeStatusLegacyChargeCreatedResponse":{"type":"object","properties":{"first":{"type":"string","enum":["NO_CHANGE","CREATED","EDITED","DELETED"]},"second":{"$ref":"#/components/schemas/LegacyChargeCreatedResponse"}},"required":["first","second"]},"LegacyUpdateWholeCharge":{"type":"object","properties":{"offenceCode":{"type":"string"},"performedByUser":{"type":"string"}},"required":["offenceCode"]},"CreateImmigrationDetention":{"type":"object","properties":{"prisonerId":{"type":"string"},"appearanceOutcomeUuid":{"type":"string","format":"uuid"},"immigrationDetentionRecordType":{"type":"string","enum":["IS91","DEPORTATION_ORDER","NO_LONGER_OF_INTEREST","UNKNOWN"]},"recordDate":{"type":"string","format":"date"},"homeOfficeReferenceNumber":{"type":"string"},"noLongerOfInterestReason":{"type":"string","enum":["BRITISH_CITIZEN","RIGHT_TO_REMAIN","OTHER_REASON"]},"noLongerOfInterestComment":{"type":"string"},"createdByUsername":{"type":"string"},"createdByPrison":{"type":"string"}},"required":["appearanceOutcomeUuid","createdByPrison","createdByUsername","immigrationDetentionRecordType","prisonerId","recordDate"]},"SaveImmigrationDetentionResponse":{"type":"object","properties":{"immigrationDetentionUuid":{"type":"string","format":"uuid"}},"required":["immigrationDetentionUuid"]},"CreateCharge":{"type":"object","properties":{"appearanceUuid":{"type":"string","format":"uuid"},"chargeUuid":{"type":"string","format":"uuid"},"offenceCode":{"type":"string"},"offenceStartDate":{"type":"string","format":"date"},"offenceEndDate":{"type":"string","format":"date"},"outcomeUuid":{"type":"string","format":"uuid"},"terrorRelated":{"type":"boolean"},"foreignPowerRelated":{"type":"boolean"},"domesticViolenceRelated":{"type":"boolean"},"sentence":{"$ref":"#/components/schemas/CreateSentence"},"legacyData":{"$ref":"#/components/schemas/ChargeLegacyData"},"prisonId":{"type":"string"},"replacingChargeUuid":{"type":"string","format":"uuid"}},"required":["offenceCode","offenceStartDate","prisonId"]},"CreateCourtAppearance":{"type":"object","properties":{"courtCaseUuid":{"type":"string"},"appearanceUuid":{"type":"string","format":"uuid"},"outcomeUuid":{"type":"string","format":"uuid"},"courtCode":{"type":"string"},"courtCaseReference":{"type":"string"},"appearanceDate":{"type":"string","format":"date"},"warrantType":{"type":"string"},"overallSentenceLength":{"$ref":"#/components/schemas/CreatePeriodLength"},"nextCourtAppearance":{"$ref":"#/components/schemas/CreateNextCourtAppearance"},"charges":{"type":"array","items":{"$ref":"#/components/schemas/CreateCharge"}},"overallConvictionDate":{"type":"string","format":"date"},"legacyData":{"$ref":"#/components/schemas/CourtAppearanceLegacyData"},"prisonId":{"type":"string"},"documents":{"type":"array","items":{"$ref":"#/components/schemas/UploadedDocument"}}},"required":["appearanceDate","charges","courtCode","prisonId","warrantType"]},"CreateCourtCase":{"type":"object","properties":{"prisonerId":{"type":"string"},"prisonId":{"type":"string"},"appearances":{"type":"array","items":{"$ref":"#/components/schemas/CreateCourtAppearance"}},"legacyData":{"$ref":"#/components/schemas/CourtCaseLegacyData"}},"r
[...]
