---
# Per environment values which override defaults in calculate-release-dates-api/values.yaml

generic-service:

  ingress:
    host: calculate-release-dates-api-preprod.hmpps.service.justice.gov.uk
    modsecurity_enabled: true
    modsecurity_snippet: |
      SecRuleEngine DetectionOnly
      SecRuleUpdateActionById 949110 "t:none,deny,status:406,logdata:%{SERVER_NAME}"
      SecRuleUpdateActionById 959100 "t:none,deny,status:406,logdata:%{SERVER_NAME}"
      SecAction "id:900000,phase:1,nolog,pass,t:none,setvar:tx.paranoia_level=2"

  env:
    SPRING_PROFILES_ACTIVE: "calculation-params"
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json
    HMPPS_AUTH_URL: https://sign-in-preprod.hmpps.service.justice.gov.uk/auth
    PRISON_API_URL: https://prison-api-preprod.prison.service.justice.gov.uk
    ADJUSTMENTS_API_URL: https://adjustments-api-preprod.hmpps.service.justice.gov.uk
    MANAGE-OFFENCES_API_URL: https://manage-offences-api-preprod.hmpps.service.justice.gov.uk
    NOMIS-SYNC-MAPPING_API_URL: https://nomis-sync-prisoner-mapping-preprod.hmpps.service.justice.gov.uk
    MANAGE-USERS_API_URL: https://manage-users-api-preprod.hmpps.service.justice.gov.uk
    APPLY_POST_RECALL_REPEAL_RULES: "true"

  allowlist:
    penetration-test-ip-1: 54.37.241.156/30
    penetration-test-ip-2: 167.71.136.237/32
    groups:
      - internal
      - circleci

  serviceAccountName: calculate-release-dates-api-preprod

  namespace_secrets:
    sqs-bulk-comparison-queue:
      HMPPS_SQS_QUEUES_BULKCOMPARISON_QUEUE_NAME: "sqs_name"
    sqs-bulk-comparison-dlq:
      HMPPS_SQS_QUEUES_BULKCOMPARISON_DLQ_NAME: "sqs_name"

  resources:
    requests:
      memory: 2G
    limits:
      memory: 4G

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  businessHoursOnly: true
  sqsAlertsQueueNames:
    - "calculate-release-dates-team-preprod-bulk_comparison_queue"
    - "calculate-release-dates-team-preprod-bulk_comparison_dlq"
  sqsAlertsOldestThreshold: 2
  sqsAlertsTotalMessagesThreshold: 1
  alertSeverity: legacy-replacement-alerts-non-prod
