---
# Per environment values which override defaults in hmpps-template-kotlin/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: hmpps-template-kotlin-dev.hmpps.service.justice.gov.uk
